<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url | split: '?' | first }}" rel="preload" as="style">

<div class="fathers_day_sale">
  <div class="mobile-hide">
    <section class="banner banner1">
      <div class="slogan_img">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/01_f92655f0-5be3-4351-b700-82cd4e339541.png?v=1622456249" alt="Govee: Father's day, My Dad. My Hero. My Light. Up to 25% Off" class="lazyload">
      </div>
      <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/banner_4e0c3c7d-b196-4084-a877-2468bfb8ba55.jpg?v=1622456249" alt="Govee: Father's day, My Dad. My Hero. My Light. Up to 25% Off" class="lazyload">
    </section>

    <section class="banner banner2">
      <div class="slogan_text">Quality Time Together</div>
      <div class="sketch_img page-width">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/02_722db577-05a0-45ac-8984-cb48b3480831.png?v=1622516321" alt="Govee: Father's day, My Dad. My Hero. My Light. Up to 25% Off" class="lazyload">
      </div>
    </section>

    <section class="scence_wrap">
      <div class="scence_intro">
        <div class="scence_title">Decorate Home Together</div>
        <div class="scence_sub_title ">Spend Dad’s special day decorating his favorite spaces with his favorite colors using <a href="/products/rgbic-smart-led-strip-lights" class="high_light" rel="nofollow"> Govee RGBIC WIFI Strip Lights</a>. Help make the man cave, living room, and even bedroom as vibrant & dynamic as he is.</div>
        <div class="scence_product_img">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/01_dec17037-dcf2-4708-b84e-bd946470d2bd.png?v=1622432482" alt="Govee RGBIC Wi-Fi+Bluetooth LED Strip Lights" class="lazyload">
        </div>
        <div class="scence_product_price">
          <span class="scence_product_price_real">$31.99</span>
          <span class="scence_product_price_virtual">$39.99</span>
        </div>
        <div class="scence_product_shop">
          <a href="/products/rgbic-smart-led-strip-lights" rel="nofollow">Shop Now ></a>
        </div>
      </div>
      <div class="scence_show">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03-banner.gif?v=1622185423" alt="Govee RGBIC Wi-Fi+Bluetooth LED Strip Lights" class="lazyload">
      </div>
    </section>

    <section class="scence_wrap">
      <div class="scence_show">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/04-banner.jpg?v=1622185423" alt="Govee Immersion Wi-Fi TV Backlights" class="lazyload">
      </div>
      <div class="scence_intro">
        <div class="scence_title">Cheer On His Team Together</div>
        <div class="scence_sub_title">Get the snacks ready and wow Dad with an at-home sports experience like no other with <a href="/collections/tv-lights/products/immersion-tv-backlights" rel="nofollow" class="high_light">Govee Immersion TV Backlights</a>. He’ll watch in wonder as the lights surrounding the TV move and react in real-time to his favorite team!</div>
        <div class="scence_product_img">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/02_a2664f81-f92a-47ea-bb2d-47b90e41904f.png?v=1622432482" alt="Govee Immersion Wi-Fi TV Backlights" class="lazyload">
        </div>
        <div class="scence_product_price">
          <span class="scence_product_price_real">$59.99</span>
          <span class="scence_product_price_virtual">$79.99</span>
        </div>
        <div class="scence_product_shop">
          <a href="/collections/tv-lights/products/immersion-tv-backlights" rel="nofollow">Shop Now ></a>
        </div>
      </div>

    </section>

    <section class="scence_wrap">
      <div class="scence_intro">
        <div class="scence_title">Experience A Gaming World Together</div>
        <div class="scence_sub_title">A father often shows his love and care through actions, not words. But don't forget he may also be a child at heart, so why not give him the gift of being a kid again and let him experience gaming in a whole new way? With <a href="/products/flow-pro-light-bar" rel="nofollow" class="high_light">Govee Flow Pro Light Bars</a>, create the ultimate reactive gaming experience, just for him.</div>
        <div class="scence_product_img">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03_e1f2431b-6e91-4d53-8f7c-75735c44612c.png?v=1622432482" alt="Govee Flow Pro Wi-Fi TV Light Bars " class="lazyload">
        </div>
        <div class="scence_product_price">
          <span class="scence_product_price_real">$65.69</span>
          <span class="scence_product_price_virtual">$72.99</span>
        </div>
        <div class="scence_product_shop">
          <a href="/products/flow-pro-light-bar" rel="nofollow">Shop Now ></a>
        </div>
      </div>
      <div class="scence_show">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/05-banner.png?v=1622456879" alt="Govee Flow Pro Wi-Fi TV Light Bars " class="lazyload">
      </div>
    </section>

    <section class="product_wrap">
      <div class="slogan_text">Other Recommendations</div>
      <div class="product_list page-width">
        {% for block in section.blocks %}
        {% if block.type == 'product_item' %}
          {% assign img = block.settings.product_img %}
          {% assign title = block.settings.product_title %}
          {% assign price = block.settings.product_price %}
          {% assign sale_price = block.settings.product_sale_price %}
          {% assign link = block.settings.product_link %}
          <div class="product_item">
            <div class="product_badge">
              {% assign sale_percent = sale_price | divided_by: price | round: 2 | times: 100 | minus: 100 | abs | round %}
              {{ sale_percent }}%OFF
            </div>
            <div class="product_img">
              <img data-src="{{ img | img_url: '600x600' }}" class="lazyload">
            </div>
            <div class="product_content">
              <div class="product_name">{{ title }}</div>
              <div class="product_price">
                <span class="product_price_real">${{ sale_price }}</span>
                <span class="product_price_virtual">${{ price }}</span>
              </div>
              <div class="product_shop">
                <a href="{{ link }}" rel="nofollow">Shop Now ></a>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="reviews_wrap">
      <div class="slogan_text">What They Say About Our Products</div>
      <div class="reviews_list page-width">
        <div class="reviews_box">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo1.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from first">From reviewgeek</div>
                <div class="author_name">Cameron Summerson</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                As a smart “accessory,” it’s fantastic. It works best in limited uses, like on a bedside table, or perhaps as a small auxiliary desk light.
              </div>
              <div class="learn_more"><a href="https://www.reviewgeek.com/69661/govee-aura-lamp-review-niftier-than-a-smart-bulb-cheaper-than-most-smart-lamps/" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO1.png?v=1622185423" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
        <div class="reviews_box">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo2.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from second">From Androidauthority</div>
                <div class="author_name">AA partners</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                The Govee Aura may be perfect if you want to liven up your room, but the Flow Pro LED light bars can take your TV to new heights. 
              </div>
              <div class="learn_more"><a href="https://www.androidauthority.com/govee-lights-1193359/" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO2.png?v=1622185423" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
        <div class="reviews_box">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo3.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from third">From Makeuseof</div>
                <div class="author_name">Kris Wouk</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                The smartest DIY ambilight kit we've seen yet. The Govee Immersion Backlight is great bias light, but does so much more as well.
              </div>
              <div class="learn_more"><a href="https://www.makeuseof.com/govee-immersion-backlight-review" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO3.png?v=1622443019" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
      </div>
    </section>

    <section class="categories_wrap">
      <div class="slogan_text">Our Categories</div>
      <div class="categories_list page-width">
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/08-pic1.jpg?v=1622185423" alt="Govee Indoor Lights" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/indoor-lights" rel="nofollow">Indoor Lights ></a>
          </div>
        </div>
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/08-pic2.jpg?v=1622185423" alt="Govee Outdoor Lights" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/outdoor-lights" rel="nofollow">Outdoor Lights ></a>
          </div>
        </div>
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/08-pic3.jpg?v=1622185423" alt="Govee Home Improvement" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/home-improvement" rel="nofollow">Home Improvement ></a>
          </div>
        </div>
      </div>
    </section>

    <section class="conditions_wrap">
      <div class="slogan_text">TERMS & CONDITIONS</div>
      <div class="conditions_list page-width">
      {% for block in section.blocks %}
      {% if block.type == 'rich-text' %}
      {% assign conditions = block.settings.condition_text %}
        <div class="conditions_item">
          <div class="conditions_num">
            ●
          </div>
          <div class="conditions_content">
            {{ conditions }}
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </div>
    </section>
  </div>

  <div class="mobile-show">
    <section class="banner banner1">
      <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/01-banner_3bc98ea7-7c50-42bc-a8f2-58b8bea909fe.jpg?v=1622527936" alt="Govee: Father's day, My Dad. My Hero. My Light. Up to 25% Off" class="lazyload">
    </section>

    <section class="banner banner2">
      <div class="slogan_text">Quality Time Together</div>
      <div class="sketch_img page-width">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/02_da376245-ce48-4e5f-bb28-dca3eeb34590.png?v=1622527936" alt="Govee: Father's day, My Dad. My Hero. My Light. Up to 25% Off" class="lazyload">
      </div>
    </section>

    <section class="scence_wrap">
      <div class="scence_intro">
        <div class="scence_show">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03-_3.jpg?v=1622527936" alt="Govee Flow Pro Wi-Fi TV Light Bars " class="lazyload">
        </div>
        <div class="scence_product_content">
          <div class="scence_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6054_d71b5882-282e-48e6-9835-b807d720304a.png?v=1622449729" alt="Govee Flow Pro Wi-Fi TV Light Bars " class="lazyload">
          </div>
          <div class="scence_product_price_box">
            <div class="scence_product_price">
              <span class="scence_product_price_real">$65.69</span>
              <span class="scence_product_price_virtual">$72.99</span>
            </div>
            <div class="scence_product_shop">
              <a href="/products/flow-pro-light-bar" rel="nofollow">Shop Now ></a>
            </div>
          </div>
        </div>
        <div class="scence_product_text">
          <div class="scence_title">Experience A Gaming World Together</div>
          <div class="scence_sub_title">A father often shows his love and care through actions, not words. But don't forget he may also be a child at heart, so why not give him the gift of being a kid again and let him experience gaming in a whole new way? With <a href="/products/flow-pro-light-bar" class="high_light" rel="nofollow">Govee Flow Pro Light Bars</a>, create the ultimate reactive gaming experience, just for him.</div>
        </div>
      </div>
      <div class="scence_intro">
        <div class="scence_show">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03-_2.png?v=1622443804" alt="Govee Immersion Wi-Fi TV Backlights" class="lazyload">
        </div>
        <div class="scence_product_content">
          <div class="scence_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/03-6199_1929f5af-1ddf-4e86-84cf-a753b8d1ecaf.png?v=1622449729" alt="Govee Immersion Wi-Fi TV Backlights" class="lazyload">
          </div>
          <div class="scence_product_price_box">
            <div class="scence_product_price">
              <span class="scence_product_price_real">$59.99</span>
              <span class="scence_product_price_virtual">$79.99</span>
            </div>
            <div class="scence_product_shop">
              <a href="/collections/tv-lights/products/immersion-tv-backlights" rel="nofollow">Shop Now ></a>
            </div>
          </div>
        </div>
        <div class="scence_product_text">
          <div class="scence_title">Cheer On His Team Together</div>
          <div class="scence_sub_title">Get the snacks ready and wow Dad with an at-home sports experience like no other with <a href="/collections/tv-lights/products/immersion-tv-backlights" class="high_light" rel="nofollow">Govee Immersion TV Backlights</a>. He’ll watch in wonder as the lights surrounding the TV move and react in real-time to his favorite team!</div>
        </div>
      </div>
      <div class="scence_intro">
        <div class="scence_show">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/GIF.gif?v=1622527937" alt="Govee RGBIC Wi-Fi+Bluetooth LED Strip Lights" class="lazyload">
        </div>
        <div class="scence_product_content">
          <div class="scence_product_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6143_49755b36-1d5c-4cdc-8f9f-48821b991fdb.png?v=1622449729" alt="Govee RGBIC Wi-Fi+Bluetooth LED Strip Lights" class="lazyload">
          </div>
          <div class="scence_product_price_box">
            <div class="scence_product_price">
              <span class="scence_product_price_real">$31.99</span>
              <span class="scence_product_price_virtual">$39.99</span>
            </div>
            <div class="scence_product_shop">
              <a href="/products/rgbic-smart-led-strip-lights" rel="nofollow">Shop Now ></a>
            </div>
          </div>
        </div>
        <div class="scence_product_text">
          <div class="scence_title">Decorate Home Together</div>
          <div class="scence_sub_title">Spend Dad’s special day decorating his favorite spaces with his favorite colors using <a href="/products/rgbic-smart-led-strip-lights" class="high_light" rel="nofollow"> Govee RGBIC WIFI Strip Lights</a>. Help make the man cave, living room, and even bedroom as vibrant & dynamic as he is.</div>
        </div>
      </div>
    </section>

    <section class="product_wrap">
      <div class="slogan_text">Other Recommendations</div>
      <div class="product_list">
        {% for block in section.blocks %}
        {% if block.type == 'product_item' %}
          {% assign img = block.settings.product_img %}
          {% assign title = block.settings.product_title %}
          {% assign price = block.settings.product_price %}
          {% assign sale_price = block.settings.product_sale_price %}
          {% assign link = block.settings.product_link %}
          <div class="product_item">
            <div class="product_badge">
              {% assign sale_percent = sale_price | divided_by: price | round: 2 | times: 100 | minus: 100 | abs | round %}
              {{ sale_percent }}%OFF
            </div>
            <div class="product_img">
              <img data-src="{{ img | img_url: '600x600' }}" class="lazyload">
            </div>
            <div class="product_content">
              <div class="product_name">{{ title }}</div>
              <div class="product_price">
                <span class="product_price_real">${{ sale_price }}</span>
                <span class="product_price_virtual">${{ price }}</span>
              </div>
              <div class="product_shop">
                <a href="{{ link }}" rel="nofollow">Shop Now ></a>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="reviews_wrap swiper-container">
      <div class="slogan_text">What They Say About Our Products</div>
      <div class="reviews_list swiper-wrapper slide">
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo1.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from first">From reviewgeek</div>
                <div class="author_name">Cameron Summerson</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                As a smart “accessory,” it’s fantastic. It works best in limited uses, like on a bedside table, or perhaps as a small auxiliary desk light.
              </div>
              <div class="learn_more"><a href="https://www.reviewgeek.com/69661/govee-aura-lamp-review-niftier-than-a-smart-bulb-cheaper-than-most-smart-lamps/" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO1.png?v=1622185423" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo2.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from second">From Androidauthority</div>
                <div class="author_name">AA partners</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                The Govee Aura may be perfect if you want to liven up your room, but the Flow Pro LED light bars can take your TV to new heights. 
              </div>
              <div class="learn_more"><a href="https://www.androidauthority.com/govee-lights-1193359/" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO2.png?v=1622185423" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
        <div class="reviews_box swiper-slide">
          <div class="reviews_top">
            <div class="author_wrap">
              <div class="author_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Photo3.png?v=1622185423" alt="" class="lazyload">
              </div>
              <div class="author_info">
                <div class="author_from third">From Makeuseof</div>
                <div class="author_name">Kris Wouk</div>
              </div>
            </div>
            <div class="reviews_content">
              <div class="reviews_content_text">
                The smartest DIY ambilight kit we've seen yet. The Govee Immersion Backlight is great bias light, but does so much more as well.
              </div>
              <div class="learn_more"><a href="https://www.makeuseof.com/govee-immersion-backlight-review" rel="nofollow">Learn More ></a></div>
              <div class="reviews_comma">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-Icon.png?v=1622185423" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="reviews_bottom">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-LOGO3-2.png?v=1622455074" alt="Govee Reviews Logo" class="lazyload">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </section>

    <section class="categories_wrap">
      <div class="slogan_text">Our Categories</div>
      <div class="categories_list">
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-_1.jpg?v=1622443805" alt="Govee Indoor Lights" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/indoor-lights" rel="nofollow">Indoor Lights ></a>
          </div>
        </div>
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-_2.jpg?v=1622443805" alt="Govee Outdoor Lights" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/outdoor-lights" rel="nofollow">Outdoor Lights ></a>
          </div>
        </div>
        <div class="categories_item">
          <div class="categories_img">
            <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/07-_3.jpg?v=1622443805" alt="Govee Home Improvement" class="lazyload">
          </div>
          <div class="categories_name">
            <a href="/collections/home-improvement" rel="nofollow">Home Improvement ></a>
          </div>
        </div>
      </div>
    </section>

    <section class="conditions_wrap">
      <div class="slogan_text">TERMS & CONDITIONS</div>
      <div class="conditions_list page-width">
        {% for block in section.blocks %}
        {% if block.type == 'rich-text' %}
        {% assign conditions = block.settings.condition_text %}
          <div class="conditions_item">
            <div class="conditions_num">
              ●
            </div>
            <div class="conditions_content">
              {{ conditions }}
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </section>

  </div>

</div>


<style>
  img {
    display: block;
  }
  @media screen and (min-width: 768px) {
    .banner {
      position: relative;
    }
    .slogan_img {
      position: absolute;
      left: 50%;
      top: 12%;
      transform: translateX(-50%);
    }
    .slogan_img img {
      width: 32.5vw;
    }
    .banner1 {
      min-height: 45vw;
    }
    .banner2 {
      background: #f1c678;
      height: 36vw;
    }
    .slogan_text {
      font-weight: bold;
      font-size: 2.4vw;
      color: #000;
      text-align: center;
      padding: 2.4vw 0;
    }
    .sketch_img {
      position: absolute;
      left: 24%;
      width: 60%;
    }
    .scence_wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background: #fff;
    }
    .scence_intro {
      flex: 1;
      padding: 3.7vw;
      max-width: 50%;
    }
    .scence_title {
      font-size: 2.5vw;
      font-weight: bold;
      color: #000;
    }
    .scence_sub_title {
      color: #767371;
      font-size: 1.2vw;
    }
    .scence_sub_title .high_light {
      color: #00ace7;
      font-weight: bold;
    }
    .scence_sub_title .high_light:hover {
      border-bottom: 1px solid #00ace7;
    }
    .scence_show {
      flex: 1;
    }
    .scence_product_img {
      width: 50%;
      margin: 0.8vw auto;

    }
    .scence_product_price {
      font-size: 2vw;
      color: #000;
      text-align: center;
      margin-bottom: .6vw;
      font-weight: bold;
    }
    .scence_product_price_virtual {
      text-decoration: line-through;
      color: #a8a8a8;
      font-size: 1.5vw;
    }
    .scence_product_shop {
      width: 18vw;
      font-size: 1.5vw;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      background: #ffc151;
      line-height: 3.2vw;
      height: 3.2vw;
    }
    .scence_product_shop a:hover {
      border-bottom: 1px solid #fff;
    }
    .scence_product_shop:hover {
      cursor: pointer;
    }
    .product_wrap {
      background: #faf3ed;
    }
    .product_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1780px;
      margin: 0 auto;
    }
    .product_item {
      margin: 0 1.5vw 1.5vw 0;
      max-width: calc(25% - 3vw);
      position: relative;
    }
    .product_badge {
      position: absolute;
      top: 0;
      right: 0;
      background: url('https://cdn.shopify.com/s/files/1/0512/3489/8105/files/badage.png?v=1618483245') no-repeat center;
      background-size: contain;
      width: 4vw;
      height: 2vw;
      line-height: 2vw;
      text-align: center;
      font-size: .8vw;
      font-weight: bold;
    }
    .product_item:nth-child(4) {
      margin-right: 0;
    }
    .product_img {
      background: #fff;
      min-height: 12vw;
    }
    .product_content {
      text-align: center;
      background: #fff;
      padding: 1vw 1vw 2vw;
      position: relative;
      height: 12vw;
    }
    .product_name {
      color: #000;
      font-size: 1.2vw;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4vw;
    }
    .product_price {
      padding-bottom: 2vw;
    }
    .product_price_real {
      color: #ff9600;
      font-size: 1.3vw;
      font-weight: bold;
    }
    .product_price_virtual {
      font-size: 1vw;
      color: #a8a8a8;
      text-decoration: line-through;
    }
    .product_shop {
      width: 12vw;
      font-size: 1vw;
      color: #fff;
      text-align: center;
      background: #ffc151;
      line-height: 2.1vw;
      height: 2.1vw;
      
      position: absolute;
      bottom: 2vw;
      left: 50%;
      transform: translateX(-50%);
    }
    .product_shop a:hover  {
      border-bottom: 1px solid  #fff;
    }
    .scence_product_shop:hover {
      cursor: pointer;
    }

    .reviews_wrap {
      background: #f7f9fa;
      padding-bottom: 4vw;
    }
    .reviews_list {
      display: flex;
      justify-content: space-between;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 32%;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2vw 0;
      margin: 0 2vw;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      flex: 1;
      margin-bottom: 2.5vw;
    }
    .reviews_bottom {
      max-height: 2vw;
    }
    .author_img {
      width: 2.5vw;
      margin-right: 1vw;
    }
    .author_from {
      font-size: 0.9vw;
    }  
    .author_from.first {
      color: #20568d;
    }
    .author_from.second {
      color: #35c839;
    }
    .author_from.third {
      color: #c60012;
    }
    .author_name {
      font-size: 0.8vw;
      color: #767371;
    }
    .reviews_content {
      padding: 1vw 0;
    }
    .reviews_content_text {
      padding: 0 3vw;
      font-size: 1vw;
      color: #323c47;
    }
    .learn_more {
      margin: 2vw 0 1vw 3vw;
    }
    .learn_more a {
      font-size: 0.9vw;
      color: #00a7e1;
    }
    .learn_more a:hover {
      border-bottom: 1px solid #00a7e1;
    }
    .reviews_comma {
      padding-left: 2vw;
    }
    .categories_wrap {
      background: #fff;
      padding-bottom: 3vw;
    }
    .categories_list {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    .categories_item {
      max-width: 31%;
    }
    .categories_name {
      padding: 1vw 0;
      text-align: center;
    }
    .categories_name a {
      font-size: 1.5vw;
      color: #000;
      font-weight: bold;
    }
    .categories_name a:hover {
      border-bottom: 1px solid #000;
    }
    .conditions_wrap {
      background:  #f9f0ea;
      padding-bottom: 4vw;
    }
    .conditions_item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: .8vw;
      color: #8d8a86;
      padding-bottom: .8vw;
    }
    .conditions_num {
      margin-right: .6vw;
      font-weight: bold;
      padding-top: .25vw;
    }
    .conditions_content {
      font-size: .8vw;
    }
  }
  @media screen and (max-width: 768px) {
    .slogan_text {
      font-weight: bold;
      font-size: 24px;
      color: #000;
      text-align: center;
      padding: 24px 40px;
      letter-spacing: normal;
    }
    .banner1 {
      min-height: 360px;
    }
    .banner2 {
      background: #f1c678;
      height: 360px;
    }
    .sketch_img {
      position: absolute;
      width: 100%;
    }
    .scence_wrap {
      display: flex;
      flex-wrap: wrap-reverse;
      background: #faf1eb;
      padding: 20px 16px 40px;
    }
    .scence_intro {
      margin-bottom: 20px;
      background: #fff;
      border-radius: 4px;
    }
    .scence_product_content {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      top: -30px;
      position: relative;
      padding: 0 16px;
    }
    .scence_product_text {
      background: #fff;
      padding: 0 16px 28px;
    }
    .scence_title {
      font-size: 24px;
      font-weight: bold;
      color: #000;
      letter-spacing: normal;
    }
    .scence_sub_title {
      color: #767371;
      font-size: 12px;
    }
    .scence_sub_title .high_light {
      color: #00ace7;
      font-weight: bold;
    }
    .scence_show {
      width: 100%;
      border-radius: 10px;
      min-height: 200px;
    }
    .scence_product_img {
      width: 50%;
    }
    .scence_product_price {
      font-size: 20px;
      color: #000;
      text-align: center;
      margin-bottom: 6px;
      font-weight: bold;
    }
    .scence_product_price_virtual {
      text-decoration: line-through;
      color: #a8a8a8;
      font-size: 15px;
    }
    .scence_product_shop {
      width: 130px;
      font-size: 15px;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      background: #ffc151;
      line-height: 30px;
      height: 30px;
    }
    .scence_product_shop:hover {
      cursor: pointer;
    }

    .product_wrap {
      background: #f2f4f6;
    }
    .product_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 12px 30px;
    }
    .product_item {
      margin: 0 10px 10px 0;
      max-width: calc(50% - 7.5px);
      position: relative;
    }
    .product_item:nth-child(2n) {
      margin-right: 0;
    }
    .product_badge {
      position: absolute;
      top: 0;
      right: 0;
      background: url('https://cdn.shopify.com/s/files/1/0512/3489/8105/files/badage.png?v=1618483245') no-repeat center;
      background-size: contain;
      width: 60px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
    }
    .product_img {
      background: #fff;
      min-height: 120px;
    }
    .product_content {
      text-align: center;
      background: #fff;
      padding: 10px 10px 20px;
      position: relative;
      height: 130px;
    }
    .product_name {
      color: #000;
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 40px;
    }
    .product_price {
      padding-bottom: 20px;
    }
    .product_price_real {
      color: #ff9600;
      font-size: 13px;
      font-weight: bold;
    }
    .product_price_virtual {
      font-size: 12px;
      color: #a8a8a8;
      text-decoration: line-through;
    }
    .product_shop {
      width: 120px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      background: #ffc151;
      line-height: 26px;
      height: 26px;
      
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .reviews_wrap {
      background: #e9e9e9;
      padding-bottom: 20px;
    }
    .reviews_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px;
    }
    .author_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      margin: 0 20px;
      border-bottom: 1px solid #e9eff4;
    }
    .reviews_top {
      background: #fff;
      margin-bottom: 25px;
    }
    .reviews_bottom {
      max-width: 140px;
      height: 60px;
    }
    .author_img {
      width: 30px;
      margin-right: 12px;
    }
    .author_from {
      font-size: 13px;
    }  
    .author_from.first {
      color: #20568d;
    }
    .author_from.second {
      color: #35c839;
    }
    .author_from.third {
      color: #c60012;
    }
    .author_name {
      font-size: 12px;
      color: #767371;
    }
    .reviews_content {
      padding: 10px 0;
    }
    .reviews_content_text {
      padding: 0 20px;
      font-size: 12px;
      color: #323c47;
    }
    .learn_more {
      margin: 20px 0 10px 20px;
    }
    .learn_more a {
      font-size: 12px;
      color: #00a7e1;
    }
    .reviews_comma {
      width: 35px;
      padding-left: 20px;
    }

    .categories_wrap {
      background: #fff;
      padding-bottom: 30px;
    }
    .categories_list {
      display: flex;
      justify-content: space-between;
      padding: 0 18px;
    }
    .categories_item {
      max-width: 31%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .categories_name {
      padding: 10px 0;
      text-align: center;
    }
    .categories_name a {
      font-size: 12px;
      color: #000;
      font-weight: bold;
    }
    .conditions_wrap {
      background:  #f9f0ea;
      padding-bottom: 30px;
    }
    .conditions_item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      color: #8d8a86;
      padding-bottom: 8px;
    }
    .conditions_num {
      margin-right: 8px;
      font-weight: bold;
      padding-top: 4px;
    }
    .conditions_content {
      font-size: 12px;
    }
  }
</style>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script>
var swiper = new Swiper('.swiper-container', {
  slidesPerView: 1,
  pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
});
</script>