{%- liquid
  assign current_variant = product.selected_or_first_available_variant

assign product_zoom_size = '1800x1800'
assign product_image_size = '620x'
case image_container_width
when 'small'
assign product_image_width = 'medium-up--two-fifths'
assign product_description_width = 'medium-up--three-fifths'
assign product_image_size = '480x'
when 'medium'
assign product_image_width = 'medium-up--one-half'
assign product_description_width = 'medium-up--one-half'
assign product_image_size = '620x'
when 'large'
assign product_image_width = 'medium-up--three-fifths'
assign product_description_width = 'medium-up--two-fifths'
assign product_image_size = '740x'
endcase

unless thumbnail_position
assign thumbnail_position = 'beside'
endunless

unless description_style
assign description_style = 'full'
endunless
-%}

<div id="ProductSection-{{ section_id }}"
     class="product-section"
     data-section-id="{{ section_id }}"
     data-section-type="product-template"
     data-product-title="{{ product.title | escape }}"
     data-product-handle="{{ product.handle }}"
     {% if settings.product_zoom_enable %}
     data-image-zoom="true"
     {% endif %}
     {% if settings.inventory_enable %}
     data-inventory="true"
     {% endif %}
     {% if settings.inventory_transfers_enable %}
     data-incoming-inventory="true"
     {% endif %}
     {% unless isModal %}
     data-enable-history-state="true"
     {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content">
    <div class="page-width">

      {%- if settings.show_breadcrumbs and isModal != true -%}
      {%- render 'breadcrumbs' -%}
      {%- endif -%}

      <div class="grid">
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {%- render 'product-images',
            section_id: section_id,
          product: product,
          isModal: isModal,
          product_zoom_size: product_zoom_size,
          product_image_size: product_image_size,
          thumbnail_position: thumbnail_position,
          thumbnail_arrows: thumbnail_arrows,
          video_looping: video_looping,
          video_style: video_style
          -%}
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {%- if settings.vendor_enable -%}
            <div class="product-single__vendor">
              {%- assign vendor_handle = product.vendor | handleize  -%}
              {%- if collections[vendor_handle] != empty -%}
              <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                {{ collections[vendor_handle].title }}
              </a>
              {%- else -%}
              {{ product.vendor | link_to_vendor }}
              {%- endif -%}
            </div>
            {%- endif -%}

            {%- if isModal -%}
            <p class="h2 product-single__title">
              {{ product.title }}
            </p>
            {%- else -%}
            <h1 class="h2 product-single__title">
              {{ product.title }}
            </h1>
            {%- endif -%}

            {%- if settings.enable_product_reviews and settings.reviews_layout == 'full' -%}
            {%- if isModal -%}
            {%- assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id -%}
            {%- else -%}
            {%- assign review_link = '#Reviews-' | append: product.id -%}
            {%- endif -%}
            <a href="{{ review_link }}" class="product-single__review-link">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
            {%- endif -%}

            {%- if settings.sku_enable -%}
            <p id="Sku-{{ section_id }}" class="product-single__sku">
              {%- if current_variant.sku -%}
              {{ current_variant.sku }}
              {%- endif -%}
            </p>
            {%- endif -%}

            {%- assign hide_sale_price = true -%}
            {%- if product.compare_at_price_max > product.price -%}
            {%- if current_variant.compare_at_price -%}
            {%- assign hide_sale_price = false -%}
            {%- endif -%}
            <span
                  id="PriceA11y-{{ section_id }}"
                  class="visually-hidden"
                  aria-hidden="{{ hide_sale_price }}">
              {{ 'products.general.regular_price' | t }}
            </span>
            <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
              <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                {%- if current_variant.compare_at_price > current_variant.price -%}
                {{ current_variant.compare_at_price | money }}
                {%- endif -%}
              </span>
            </span>
            <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            {%- else -%}
            <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            {%- endif -%}

            <span id="ProductPrice-{{ section_id }}"
                  class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}">
              {{ current_variant.price | money }}
            </span>

            <div class="product__unit-price product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
              <span class="product__unit-base--{{ section_id }}">
                {%- if current_variant.unit_price_measurement -%}
                {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                {{ current_variant.unit_price_measurement.reference_value }}
                {%- endif -%}
                {{ current_variant.unit_price_measurement.reference_unit }}
                {%- endif -%}
              </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>
            <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              <small>
                {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </small>
            </div>
            {%- endif -%}

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
            {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

            <script>
              // Store inventory quantities in JS because they're no longer
              // available directly in JS when a variant changes.
              // Have an object that holds all potential products so it works
              // with quick view or with multiple featured products.
              window.inventories = window.inventories || {};
              window.inventories['{{section_id}}'] = {};
                                 {%- for variant in variants_with_inventory_tracking -%}
                                 window.inventories['{{section_id}}'][{{variant.id}}] = {
                'quantity': {{ variant.inventory_quantity | default: 0 }},
                'incoming': {{ variant.incoming | default: false | json }},
                'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
              };
              {%- endfor -%}
            </script>

            {% comment %}
            If loaded in quick view, it might be from a JS-loaded function
            that loads recommended products. If that's the case, the above
            JS will not set the variant inventory. Add it to an accessible
            data div to read later instead.
            {% endcomment %}
            {%- if isModal -%}
            <div
                 data-section-id="{{ section_id }}"
                 class="hide js-product-inventory-data"
                 aria-hidden="true"
                 >
              {%- for variant in variants_with_inventory_tracking -%}
              <div
                   class="js-variant-inventory-data"
                   data-id="{{ variant.id }}"
                   data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                   data-incoming="{{ variant.incoming | default: false | json }}"
                   data-date="{{ variant.next_incoming_date | date: format: 'date' | json }}"
                   >
              </div>
              {%- endfor -%}
            </div>
            {%- endif -%}

            {%- assign inventory_visible = false -%}
            {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
            {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
            {%- assign inventory_visible = true -%}
            {%- endif -%}
            {%- endif -%}
            {%- if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue' -%}
            {%- assign inventory_visible = false -%}
            {%- endif -%}
            <div
                 id="ProductInventory-{{ section_id }}"
                 class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                 >
              {%- if current_variant.available -%}
              {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
              {%- endif -%}
            </div>

            {%- if settings.inventory_transfers_enable -%}
            <div
                 id="ProductIncomingInventory-{{ section_id }}"
                 class="product__inventory{% if inventory_visible %} hide{% endif %}">
              {%- if current_variant.incoming and inventory_visible == false -%}
              {%- if current_variant.next_incoming_date -%}
              {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
              {%- if current_variant.available -%}
              {{ 'products.product.will_not_ship_until' | t: date: date }}
              {%- else -%}
              {{ 'products.product.will_be_in_stock_after' | t: date: date }}
              {%- endif -%}
              {%- else -%}
              {{ 'products.product.waiting_for_stock' | t }}
              {%- endif -%}
              {%- endif -%}
            </div>
            {%- endif -%}
            {% endif %}

            <hr class="hr--medium">

            {% unless isModal %}
            {% comment %}
            Shopify's product form attaches a number of tracking
            scripts that cause slower load times and false statistics.
            Quick view modals request these on-demand.
            {% endcomment %}
            {%- render 'product-form',
                section_id: section_id,
            product: product,
            current_variant: current_variant
            -%}
            {% else %}
            <div
                 id="ProductFormHolder-{{ section_id }}"
                 data-url="{{ product.url }}"
                 data-template="{{ product.template_suffix }}">
              {%- if product.options.size > 0 -%}
              {%- for i in (1..product.options.size) -%}
              <div class="placeholder-content" style="min-height: 86px; max-width: 66%;"></div>
              {%- endfor -%}
              {%- endif -%}
              <div class="placeholder-content" style="min-height: 86px;"></div>
            </div>
            {% endunless %}

            {%- unless isModal -%}
            {%- if settings.surface_pickup_enable -%}
            <div id="StoreAvailabilityHolder-{{ section_id }}"
                 data-product-name="{{ product.title | escape }}"
                 data-base-url="{{ shop.url }}{{ routes.root_url }}"
                 ></div>
            {%- endif -%}
            {%- endunless -%}

            {%- unless description_style == 'full' -%}

            {%- unless settings.product_description_collapse -%}
            <div class="product-single__description rte">
              {{ product.description }}
            </div>
            {%- endunless -%}

            {%- render 'product-additional-content', product: product, section_id: section_id -%}
            {%- endunless -%}


            {% render 'product-accordian' %}



          </div>
        </div>
      </div>

      {% if description_style == 'full' %}
      {% unless settings.product_description_collapse %}
      <div class="product-single__description-full rte">
        {{ product.description }}
      </div>
      {% endunless %}

      {%- render 'product-additional-content', product: product, section_id: section_id -%}
      {% endif %}
    </div>
  </div>
</div>

{% render 'additional-custom-content' %}

<div class="page_wrap" data-animate_images="true">
  <div class="mobile-hide lazyload">
    <div class="banner_wrap text" data-animate_text="true">
      <div class="banner_text page_text">Aura Lite RGB Table Lamp</div>
      <div class="banner_sub_text page_sub_text">Brilliant light for your special spaces</div>
      <div class="banner_sub_img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/264_2x_42d9c960-a491-4cdb-928e-4ff2cdc86191.png?v=1626771558" alt="" class="lazyload">
      </div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/182_2x_93e050ed-655e-4c9a-b5fb-0f49ff32cca8.jpg?v=1626420328" alt="" class="lazyload">
    </div>

    <div class="scence_wrap">
      <div class="scence_item text left" data-animate_text="true">
        <div class="scence_text page_text">30+ Dynamic Scene Modes</div>
        <div class="scence_sub_text page_sub_text">Change your space with just a single tap. Select vibrant lighting scenes based on nature, holidays, and emotion themes for just the right lighting vibes no matter your mood or occasion. </div>
        <div class="product_func_list" style="width: 60%;">
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/3_2x_ebbc7032-a33d-4b07-8a37-aba36ae9fdc7.png?v=1626420328" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Gradient</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_2x_3c3c3e76-1c6e-45e4-a3f0-2843bd238628.png?v=1626420327" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Deep sea</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/4_2x_c411fc66-038c-437c-a901-7f9598615e43.png?v=1626420328" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Reading</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_2x_4e2f98cd-ba61-4c0a-a68b-c47e1446d4ba.png?v=1626420327" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Fireworks</div>
          </div>
        </div>
      </div>
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_2x_40e97ec5-435a-4467-9356-f8f642de49ad.jpg?v=1626420328" alt="" class="lazyload">
      </div>
    </div>

    <div class="scence_wrap">
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/203_2x_35f99332-b14d-4453-8ccc-b470399379cb.jpg?v=1626420327" alt="" class="lazyload">
      </div>

      <div class="scence_item text right" data-animate_text="true">
        <div class="scence_text page_text">Hands-free Voice Control via WiFi  </div>
        <div class="scence_sub_text page_sub_text">Control your Aura Lite all without putting down your book or stopping special family moments. Use Alexa or Google Assistant to control your lamp's colors, effects, and brightness, all from the sound of your voice. </div>
      </div>
    </div>

    <div class="scence_wrap">
      <div class="scence_item text left" data-animate_text="true">
        <div class="scence_text page_text">Vibrant RGBWW Technology </div>
        <div class="scence_sub_text page_sub_text">Personalize your lighting with over 16 million colors, plus warm yellows and daylight whites.</div>
      </div>
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/24_2x_5f6736e7-1fed-4dc7-bc68-f0f7860f3d20.jpg?v=1626420328" alt="" class="lazyload">
      </div>
    </div>

    <div class="scence_wrap">
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/196_2x_a3312fac-43e4-4861-b9b0-b51c07defc36.jpg?v=1626420328" alt="" class="lazyload">
      </div>
      <div class="scence_item text right" data-animate_text="true">
        <div class="scence_text page_text">Sleep & Wake Timers</div>
        <div class="scence_sub_text page_sub_text">Fall asleep to soft yellow light without worrying about turning off your lamp manually. Set timers both for shutting off and turning back on.</div>
      </div>
    </div>

    <div class="scence_wrap">
      <div class="scence_item text left" data-animate_text="true">
        <div class="scence_text page_text">Simple Touch Controls</div>
        <div class="scence_sub_text page_sub_text">Change colors, adjust brightness, and turn on Music Mode using the simple controls at the top of the lamp. Also connect to Govee Home App to control remotely.</div>
      </div>
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/25_2x_d7414d3a-0a4d-4108-a1dd-74a5ef2b98eb.jpg?v=1626420327" alt="" class="lazyload">
      </div>
    </div>

    <div class="specification_wrap bgc_white_important">
      <div class="page-width specification_content">
        <div class="specification_table">
          <div class="specification_theader page_text color_black_important">
            Specs
          </div>
          <div class="specification_tbody">
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Brand</span>
              <span class="specification_td bold">Govee</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Input</span>
              <span class="specification_td bold">12V/1A</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Lumenst</span>
              <span class="specification_td bold">350lm</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Color</span>
              <span class="specification_td bold">RGBWW</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Color Temperature</span>
              <span class="specification_td bold">2200K-6500K</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Size</span>
              <span class="specification_td bold">4.3*4.6*9.4in</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Weight</span>
              <span class="specification_td bold">27.5oz</span>
            </div>
          </div>
        </div>
        <div class="spacification_image">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/21_2x_5db68a90-4f74-4047-872e-7814415d811a.png?v=1626420327" alt="" class="lazyload">
        </div>
      </div>
    </div>

    <div class="compare_wrap bgc_white_important">
      <div class="page-width compare_content">
        <div class="compare_header page_text">
          Compare with Other Models
        </div>
        <div class="compare_table">
          <div class="compare_tr">
            <div class="compare_td">
              Appearance
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/26_2x_9b97c4e0-4b66-4a82-b2c9-478cf7aad033.jpg?v=1626420327" alt="" class="lazyload">
              </div>
            </div>
            <div class="compare_td">
              <a target="_blank" href="/products/aura-table-lamp" rel="nofollow" class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_2x_d698c364-5dce-4d94-a3a1-dac370e48444.jpg?v=1626420328" alt="" class="lazyload">
              </a>
            </div>
            <div class="compare_td">
              <a target="_blank" href="/products/govee-glow" class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_2x_ac3392dd-210a-47f6-888f-02817ae3f4a6.jpg?v=1626420327" alt="" class="lazyload">
              </a>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Product name</div>
            <div class="compare_td">Aura Lite Smart Table Lamp</div>
            <a target="_blank" href="/products/aura-table-lamp" class="compare_td">Aura Smart Table Lamp</a>
            <a target="_blank" href="/products/govee-glow"  class="compare_td">Glow Smart Table Lamp</a>
          </div>
          <div class="compare_tr">
            <div class="compare_td">
              Mode
            </div>
            <div class="compare_td">
              <span>H6051</span>
            </div>
            <div class="compare_td">
              <span>H6052</span>
            </div>
            <div class="compare_td">
              <span>H6050</span>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Materials</div>
            <div class="compare_td">ABS+PC</div>
            <div class="compare_td">ABS+PC</div>
            <div class="compare_td">Metal+ABS+PC</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Control method</div>
            <div class="compare_td">Voice+APP Control+Touch control</div>
            <div class="compare_td">Voice+APP Control+Entity control</div>
            <div class="compare_td">Voice+APP+Touch control</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Communication method</div>
            <div class="compare_td">Wi-Fi+BLE</div>
            <div class="compare_td">Wi-Fi+BLE</div>
            <div class="compare_td">Wi-Fi+BLE</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Size</div>
            <div class="compare_td">4.3*4.6*9.4in</div>
            <div class="compare_td">4.1*4.1*7.9in</div>
            <div class="compare_td">6.1*6.1*15.4in</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">LED Bead</div>
            <div class="compare_td">RGBWW</div>
            <div class="compare_td">RBGIC</div>
            <div class="compare_td">RGB</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Recommended Application Scenarios</div>
            <div class="compare_td">Bedroom bedside table</div>
            <div class="compare_td">Bedroom bedside table</div>
            <div class="compare_td">Living room desk</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Music Modes</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Scene Modes</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="mobile-show lazyload">
    <div class="banner_wrap text" data-animate_text="true">
      <div class="banner_text page_text">Aura Lite RGB Table Lamp</div>
      <div class="banner_sub_text page_sub_text">Brilliant light for your special spaces</div>
      <div class="banner_sub_img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/264_2x_42d9c960-a491-4cdb-928e-4ff2cdc86191.png?v=1626771558" alt="" class="lazyload">
      </div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/13.jpg?v=1626424008" alt="" class="lazyload">
    </div>

    <div class="scence_wrap">
      <div class="scence_item text left" data-animate_text="true">
        <div class="scence_text page_text">30+ Dynamic Scene Modes</div>
        <div class="scence_sub_text page_sub_text">Change your space with just a single tap. Select vibrant lighting scenes based on nature, holidays, and emotion themes for just the right lighting vibes no matter your mood or occasion. </div>
        <div class="product_func_list" style="width: 60%;">
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/3_32ef047b-3518-46d1-9bc8-de243307b14f.png?v=1626424008" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Gradient</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_8a5b65a1-bacd-4d61-8b05-02734787238d.png?v=1626424008" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Deep sea</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/4_1273df76-d497-45ae-8833-4b09c92eeaad.png?v=1626424008" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Reading</div>
          </div>
          <div class="product_func_item">
            <div class="product_func_img">
              <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_778da31e-e812-4174-9f37-fc639296faf5.png?v=1626424008" alt="" class="lazyload">
            </div>
            <div class="product_func_text">Fireworks</div>
          </div>
        </div>
      </div>
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/14.png?v=1626424008" alt="" class="lazyload">
      </div>
    </div>

    <div class="scence_wrap" style="background-color: #f8f8f8;">
      <div class="scence_item text right" data-animate_text="true">
        <div class="scence_text page_text">Hands-free Voice Control via WiFi  </div>
        <div class="scence_sub_text page_sub_text">Control your Aura Lite all without putting down your book or stopping special family moments. Use Alexa or Google Assistant to control your lamp's colors, effects, and brightness, all from the sound of your voice. </div>
      </div>

      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/204.png?v=1626424008" alt="" class="lazyload">
      </div>
    </div>

    <div class="banner_wrap text" data-animate_text="true">
      <div class="banner_text page_text">Vibrant RGBWW Technology </div>
      <div class="banner_sub_text page_sub_text">Personalize your lighting with over 16 million colors, plus warm yellows and daylight whites.</div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/24_2x_5f6736e7-1fed-4dc7-bc68-f0f7860f3d20.jpg?v=1626420328" alt="" class="lazyload">
    </div>

    <div class="scence_wrap" style="padding-bottom: 0;">
      <div class="scence_item text right" data-animate_text="true">
        <div class="scence_text page_text">Sleep & Wake Timers</div>
        <div class="scence_sub_text page_sub_text">Fall asleep to soft yellow light without worrying about turning off your lamp manually. Set timers both for shutting off and turning back on.</div>
      </div>
      <div class="scence_item img">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/17_3fb1d922-143c-4c7f-b122-60540cba49a8.png?v=1626424008" alt="" class="lazyload">
      </div>
    </div>

    <div class="banner_wrap text" data-animate_text="true">
      <div class="banner_text page_text">Simple Touch Controls</div>
      <div class="banner_sub_text page_sub_text">Change colors, adjust brightness, and turn on Music Mode using the simple controls at the top of the lamp. Also connect to Govee Home App to control remotely.</div>
    </div>

    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/25_2x_d7414d3a-0a4d-4108-a1dd-74a5ef2b98eb.jpg?v=1626420327" alt="" class="lazyload">
    </div>

    <div class="specification_wrap">
      <div class="page-width specification_content">
        <div class="specification_table">
          <div class="specification_theader page_text color_black_important">
            Specs
          </div>
          <div class="specification_tbody">
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Brand</span>
              <span class="specification_td bold">Govee</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Input</span>
              <span class="specification_td bold">12V/1A</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Lumenst</span>
              <span class="specification_td bold">350lm</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Color</span>
              <span class="specification_td bold">RGBWW</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Color Temperature</span>
              <span class="specification_td bold">2200K-6500K</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Size</span>
              <span class="specification_td bold">4.3*4.6*9.4in</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Weight</span>
              <span class="specification_td bold">27.5oz</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="compare_wrap bgc_white_important">
      <div class="compare_content">
        <div class="compare_header page_text">
          Compare with Other Models
        </div>
        <div class="compare_table">
          <div class="compare_tr">
            <div class="compare_td">
              Appearance
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/26_2x_9b97c4e0-4b66-4a82-b2c9-478cf7aad033.jpg?v=1626420327" alt="" class="lazyload">
              </div>
            </div>
            <div class="compare_td">
              <a target="_blank" href="/products/aura-table-lamp" rel="nofollow" class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_2x_d698c364-5dce-4d94-a3a1-dac370e48444.jpg?v=1626420328" alt="" class="lazyload">
              </a>
            </div>
            <div class="compare_td">
              <a target="_blank" href="/products/govee-glow" class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_2x_ac3392dd-210a-47f6-888f-02817ae3f4a6.jpg?v=1626420327" alt="" class="lazyload">
              </a>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Product name</div>
            <div class="compare_td">Aura Lite Smart Table Lamp</div>
            <a target="_blank" href="/products/aura-table-lamp" class="compare_td">Aura Smart Table Lamp</a>
            <a target="_blank" href="/products/govee-glow"  class="compare_td">Glow Smart Table Lamp</a>
          </div>
          <div class="compare_tr">
            <div class="compare_td">
              Mode
            </div>
            <div class="compare_td">
              <span>H6051</span>
            </div>
            <div class="compare_td">
              <span>H6052</span>
            </div>
            <div class="compare_td">
              <span>H6050</span>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Materials</div>
            <div class="compare_td">ABS+PC</div>
            <div class="compare_td">ABS+PC</div>
            <div class="compare_td">Metal+ABS+PC</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Control method</div>
            <div class="compare_td">Voice+APP Control+Touch control</div>
            <div class="compare_td">Voice+APP Control+Entity control</div>
            <div class="compare_td">Voice+APP+Touch control</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Communication method</div>
            <div class="compare_td">Wi-Fi+BLE</div>
            <div class="compare_td">Wi-Fi+BLE</div>
            <div class="compare_td">Wi-Fi+BLE</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Size</div>
            <div class="compare_td">4.3*4.6*9.4in</div>
            <div class="compare_td">4.1*4.1*7.9in</div>
            <div class="compare_td">6.1*6.1*15.4in</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">LED Bead</div>
            <div class="compare_td">RGBWW</div>
            <div class="compare_td">RBGIC</div>
            <div class="compare_td">RGB</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Recommended Application Scenarios</div>
            <div class="compare_td">Bedroom bedside table</div>
            <div class="compare_td">Bedroom bedside table</div>
            <div class="compare_td">Living room desk</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Music Modes</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Scene Modes</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
            <div class="compare_td">√</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .page_wrap {
    background-color: #fff;
    margin-bottom: 50px;
  }
  .page_wrap [data-animate_images=true] .lazyload {
    opacity:0
  }
  .page_wrap [data-animate_images=true] .lazyloaded {
    opacity:1;
    animation:0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
    animation-name:zoom-fade-small;
    transition:none;
  }
  .page_wrap [data-animate_text=true] {
    opacity: 0;
  }
  .page_wrap .lazyloaded [data-animate_text=true]{
    opacity: 1;
    animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 0.3s forwards;
    animation-name: fade-in;
  }
  img {
    display: block;
    width: 100%;
  }
  .bold {
    font-weight: bold;
    font-family: 'Avenir LT Std';
  }
  .page_text {
    font-family: 'Avenir LT Std';
  }
  .page_sub_text {
    font-family: 'Avenir Next';
  }
  a.compare_td {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    .page_text {
      font-size: 2.3vw;
      font-weight: bold;
      line-height: 3.2vw;
      color: #252525;
    }
    .page_sub_text {
      font-size: 1.2vw;
      line-height: 1.8vw;
      color: #252525;
      padding: .4vw 0 1vw;
    }
    .banner_wrap.text {
      width: 100%;
      text-align: center;
      padding: 4.5vw 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .banner_text {
      width: 52.5vw;
    }
    .banner_sub_img {
      width: 24vw;
    }

    .scence_wrap {
      background: #fff;
      display: flex;
      align-items: center;
      margin: .5vw;
    }
    .scence_item {
      width: 50%;
    }
    .scence_item.text.left {
      padding: 0 4.2vw 0 13vw;
    }
    .scence_item.text.right {
      padding: 0 13vw 0 4.2vw;
    }
    .scence_text {
      width: 100%;
    }
    .scence_sub_text {
      margin-bottom: 1.6vw;
    }
    .product_func_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product_func_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .product_func_img {
      width: 2.5vw;
    }
    .product_func_text {
      font-size: .8vw;
      color: #252525;
    }

    .feature_wrap {
      background: #F7F7F7;
      padding-bottom: 4vw;
    }
    .feature_title {
      text-align: center;
      padding: 4.5vw 0 2vw;
    }
    .feature_list {
      display: flex;
      justify-content: space-between;
    }
    .feature_item {
      width: calc(25% - 1.2vw);
      display: flex;
      flex-direction: column;
    }
    .feature_img {
      margin-bottom: 1.6vw;
    }

    .specification_wrap {
      padding: 4vw 0;
    }
    .specification_content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      max-width: 1200px;
    }
    .specification_table {
      flex: 1;
      margin-right: 6vw;
    }
    .specification_theader {
      padding: 1vw 0;
      color: #fff;
    }
    .specification_tbody {
      border-top: 1px solid #888888;
    }
    .specification_tr {
      padding: .8vw 0;
      border-bottom: 1px solid #888888;

      display: flex;
      justify-content: flex-start;
    }
    .specification_td {
      width: 48%;
    }
    .spacification_image {
      width: 21vw;
    }

    .compare_wrap {
      padding: 0 0 4vw 0;
      background: #333;
    }
    .compare_content {
      max-width: 1200px;
    }
    .compare_header {
      color: #fff !important;
      padding: 2.6vw 0;
    }
    .compare_table {
      border-top: 1px solid #888888;
    }
    .compare_tr {
      display: flex;
      padding: .8vw 0;
      border-bottom: 1px solid #888888;
    }
    .compare_td {
      flex: 1;
      font-size: .8vw;
    }
    .compare_td:not(:first-child) {
      font-weight: bold;
    }
    .compare_td_img {
      width: 12vw;
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    .page_text {
      font-size: 22px;
      font-weight: bold;
      line-height: 30px;
      color: #252525;
    }
    .page_sub_text {
      font-size: 13px;
      line-height: 18px;
      color: #252525;
      padding: 10px 0 12px;
    }
    .banner_wrap.text {
      width: 100%;
      text-align: left;
      padding: 42px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .banner_text {
      width: 100%;
    }
    .banner_sub_img {
      width: 240px;
    }

    .scence_wrap {
      background: #fff;
      padding: 0 25px 46px;
    }
    .scence_item {
      width: 100%;
    }
    .scence_item.text {
      padding: 38px 0 0;
    }
    .scence_item.img, 
    .scence_item.img img {
      border-radius: 10px;
    }
    .scence_text {
      width: 100%;
    }
    .scence_sub_text {
      margin-bottom: 14px;
    }
    .product_func_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: -12px;
      margin-bottom: 25px;
    }
    .product_func_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: calc(100% / 6);
    }
    .product_func_img {
      width: 25px;
    }
    .product_func_text {
      font-size: 12px;
      color: #252525;
      white-space: nowrap;
      transform: scale(.8);
    }

    .specification_wrap {
      padding: 36px 0;
    }
    .specification_content {
      padding: 0 25px;
    }
    .specification_theader {
      padding: 10px 0 20px;
      color: #fff;
    }
    .specification_tbody {
      border-top: 1px solid #888888;
    }
    .specification_tr {
      padding: 6px 0;
      border-bottom: 1px solid #888888;

      display: flex;
      justify-content: flex-start;
    }
    .specification_td {
      width: 48%;
      font-size: 12px;
    }
    .spacification_image {
      width: 160px;
      margin: 30px auto;
    }

    .compare_wrap {
      padding: 0 0 50px 0;
      background: #252525;
    }
    .compare_content {
      padding: 0 0 0 25px;
    }
    .compare_header {
      color: #fff !important;
      padding: 10px 0 30px;
    }
    .compare_table {
      border-top: 1px solid #888888;

      overflow-x: scroll;
      padding-bottom: 15px;
    }

    .compare_tr {
      display: flex;
      justify-content: flex-start;
      padding: 6px 0;
      border-bottom: 1px solid #888888;
      width: fit-content;
    }
    .compare_td {
      flex: 1;
      font-size: 12px;
      background-color: #fff;
      min-width: 180px;
    }
    .compare_td:first-child {
      
      left: 0;
      top: 0;
      min-width: 120px;
    }
    .compare_td:not(:first-child) {
      font-weight: bold;
    }
    .compare_td_img {
      width: 160px;
      display: block;
    }
  }

  @media screen and (min-width: 1800px) {
    .compare_td {
      font-size: 16px;
    }
  }
</style>