{%- liquid
  assign current_variant = product.selected_or_first_available_variant

assign product_zoom_size = '1800x1800'
assign product_image_size = '620x'
case image_container_width
when 'small'
assign product_image_width = 'medium-up--two-fifths'
assign product_description_width = 'medium-up--three-fifths'
assign product_image_size = '480x'
when 'medium'
assign product_image_width = 'medium-up--one-half'
assign product_description_width = 'medium-up--one-half'
assign product_image_size = '620x'
when 'large'
assign product_image_width = 'medium-up--three-fifths'
assign product_description_width = 'medium-up--two-fifths'
assign product_image_size = '740x'
endcase

unless thumbnail_position
assign thumbnail_position = 'beside'
endunless

unless description_style
assign description_style = 'full'
endunless
-%}

<div id="ProductSection-{{ section_id }}"
     class="product-section"
     data-section-id="{{ section_id }}"
     data-section-type="product-template"
     data-product-title="{{ product.title | escape }}"
     data-product-handle="{{ product.handle }}"
     {% if settings.product_zoom_enable %}
     data-image-zoom="true"
     {% endif %}
     {% if settings.inventory_enable %}
     data-inventory="true"
     {% endif %}
     {% if settings.inventory_transfers_enable %}
     data-incoming-inventory="true"
     {% endif %}
     {% unless isModal %}
     data-enable-history-state="true"
     {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content">
    <div class="page-width">

      {%- if settings.show_breadcrumbs and isModal != true -%}
      {%- render 'breadcrumbs' -%}
      {%- endif -%}

      <div class="grid">
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {%- render 'product-images',
            section_id: section_id,
          product: product,
          isModal: isModal,
          product_zoom_size: product_zoom_size,
          product_image_size: product_image_size,
          thumbnail_position: thumbnail_position,
          thumbnail_arrows: thumbnail_arrows,
          video_looping: video_looping,
          video_style: video_style
          -%}
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {%- if settings.vendor_enable -%}
            <div class="product-single__vendor">
              {%- assign vendor_handle = product.vendor | handleize  -%}
              {%- if collections[vendor_handle] != empty -%}
              <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                {{ collections[vendor_handle].title }}
              </a>
              {%- else -%}
              {{ product.vendor | link_to_vendor }}
              {%- endif -%}
            </div>
            {%- endif -%}

            {%- if isModal -%}
            <p class="h2 product-single__title">
              {{ product.title }}
            </p>
            {%- else -%}
            <h1 class="h2 product-single__title">
              {{ product.title }}
            </h1>
            {%- endif -%}

            {%- if settings.enable_product_reviews and settings.reviews_layout == 'full' -%}
            {%- if isModal -%}
            {%- assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id -%}
            {%- else -%}
            {%- assign review_link = '#Reviews-' | append: product.id -%}
            {%- endif -%}
            <a href="{{ review_link }}" class="product-single__review-link">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
            {%- endif -%}

            {%- if settings.sku_enable -%}
            <p id="Sku-{{ section_id }}" class="product-single__sku">
              {%- if current_variant.sku -%}
              {{ current_variant.sku }}
              {%- endif -%}
            </p>
            {%- endif -%}

            {%- assign hide_sale_price = true -%}
            {%- if product.compare_at_price_max > product.price -%}
            {%- if current_variant.compare_at_price -%}
            {%- assign hide_sale_price = false -%}
            {%- endif -%}
            <span
                  id="PriceA11y-{{ section_id }}"
                  class="visually-hidden"
                  aria-hidden="{{ hide_sale_price }}">
              {{ 'products.general.regular_price' | t }}
            </span>
            <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
              <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                {%- if current_variant.compare_at_price > current_variant.price -%}
                {{ current_variant.compare_at_price | money }}
                {%- endif -%}
              </span>
            </span>
            <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            {%- else -%}
            <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            {%- endif -%}

            <span id="ProductPrice-{{ section_id }}"
                  class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}">
              {{ current_variant.price | money }}
            </span>

            <div class="product__unit-price product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
              <span class="product__unit-base--{{ section_id }}">
                {%- if current_variant.unit_price_measurement -%}
                {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                {{ current_variant.unit_price_measurement.reference_value }}
                {%- endif -%}
                {{ current_variant.unit_price_measurement.reference_unit }}
                {%- endif -%}
              </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>
            <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              <small>
                {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </small>
            </div>
            {%- endif -%}

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
            {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

            <script>
              // Store inventory quantities in JS because they're no longer
              // available directly in JS when a variant changes.
              // Have an object that holds all potential products so it works
              // with quick view or with multiple featured products.
              window.inventories = window.inventories || {};
              window.inventories['{{section_id}}'] = {};
                                 {%- for variant in variants_with_inventory_tracking -%}
                                 window.inventories['{{section_id}}'][{{variant.id}}] = {
                'quantity': {{ variant.inventory_quantity | default: 0 }},
                'incoming': {{ variant.incoming | default: false | json }},
                'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
              };
              {%- endfor -%}
            </script>

            {% comment %}
            If loaded in quick view, it might be from a JS-loaded function
            that loads recommended products. If that's the case, the above
            JS will not set the variant inventory. Add it to an accessible
            data div to read later instead.
            {% endcomment %}
            {%- if isModal -%}
            <div
                 data-section-id="{{ section_id }}"
                 class="hide js-product-inventory-data"
                 aria-hidden="true"
                 >
              {%- for variant in variants_with_inventory_tracking -%}
              <div
                   class="js-variant-inventory-data"
                   data-id="{{ variant.id }}"
                   data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                   data-incoming="{{ variant.incoming | default: false | json }}"
                   data-date="{{ variant.next_incoming_date | date: format: 'date' | json }}"
                   >
              </div>
              {%- endfor -%}
            </div>
            {%- endif -%}

            {%- assign inventory_visible = false -%}
            {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
            {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
            {%- assign inventory_visible = true -%}
            {%- endif -%}
            {%- endif -%}
            {%- if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue' -%}
            {%- assign inventory_visible = false -%}
            {%- endif -%}
            <div
                 id="ProductInventory-{{ section_id }}"
                 class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                 >
              {%- if current_variant.available -%}
              {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
              {%- endif -%}
            </div>

            {%- if settings.inventory_transfers_enable -%}
            <div
                 id="ProductIncomingInventory-{{ section_id }}"
                 class="product__inventory{% if inventory_visible %} hide{% endif %}">
              {%- if current_variant.incoming and inventory_visible == false -%}
              {%- if current_variant.next_incoming_date -%}
              {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
              {%- if current_variant.available -%}
              {{ 'products.product.will_not_ship_until' | t: date: date }}
              {%- else -%}
              {{ 'products.product.will_be_in_stock_after' | t: date: date }}
              {%- endif -%}
              {%- else -%}
              {{ 'products.product.waiting_for_stock' | t }}
              {%- endif -%}
              {%- endif -%}
            </div>
            {%- endif -%}
            {% endif %}

            <hr class="hr--medium">

            {% unless isModal %}
            {% comment %}
            Shopify's product form attaches a number of tracking
            scripts that cause slower load times and false statistics.
            Quick view modals request these on-demand.
            {% endcomment %}
            {%- render 'product-form',
                section_id: section_id,
            product: product,
            current_variant: current_variant
            -%}
            {% else %}
            <div
                 id="ProductFormHolder-{{ section_id }}"
                 data-url="{{ product.url }}"
                 data-template="{{ product.template_suffix }}">
              {%- if product.options.size > 0 -%}
              {%- for i in (1..product.options.size) -%}
              <div class="placeholder-content" style="min-height: 86px; max-width: 66%;"></div>
              {%- endfor -%}
              {%- endif -%}
              <div class="placeholder-content" style="min-height: 86px;"></div>
            </div>
            {% endunless %}

            {%- unless isModal -%}
            {%- if settings.surface_pickup_enable -%}
            <div id="StoreAvailabilityHolder-{{ section_id }}"
                 data-product-name="{{ product.title | escape }}"
                 data-base-url="{{ shop.url }}{{ routes.root_url }}"
                 ></div>
            {%- endif -%}
            {%- endunless -%}

            {%- unless description_style == 'full' -%}

            {%- unless settings.product_description_collapse -%}
            <div class="product-single__description rte">
              {{ product.description }}
            </div>
            {%- endunless -%}

            {%- render 'product-additional-content', product: product, section_id: section_id -%}
            {%- endunless -%}


            {% render 'product-accordian' %}



          </div>
        </div>
      </div>

      {% if description_style == 'full' %}
      {% unless settings.product_description_collapse %}
      <div class="product-single__description-full rte">
        {{ product.description }}
      </div>
      {% endunless %}

      {%- render 'product-additional-content', product: product, section_id: section_id -%}
      {% endif %}
    </div>
  </div>
</div>

{% render 'additional-custom-content' %}

{% assign title = 'Cutting-Edge RGBICWW Technology' %}
{% assign sub_title = 'Savor simultaneous multiple colors displays as customized from 16 million total colors and 2200k-6500k warm/cool white. Upscale ambiance for hosting get-togethers, watching movies or relaxing.' %}

<div id="H6072">
  <div class="mobile-hide">
    <section class="banner">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_cdf93661-1a00-4311-a3b0-7add87b2e8f4.jpg?v=1623139336" alt="Govee Lyra Floor Lamp">
      <div class="banner_text_wrap over_top">
        <div class="banner_text lazyload page_text_important color_white_important" data-animate_text="true">
          Govee Lyra Floor Lamp
        </div>
        <div class="banner_sub_text lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Illuminate your home your way.  
        </div>
      </div>
    </section>

    <section class="scenes_wrap">
      <div class="wrap_item image">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_cf048284-825b-410f-b660-c7835e06232b.jpg?v=1623139336" alt="Govee Lyra Floor Lamp Modern Design" class="lazyload">
      </div>

      <div class="wrap_item text">
        <div class="title lazyload page_text_important color_white_important" data-animate_text="true">
          Futurist, <br> 
          Modern Design
        </div>
        <div class="color_bar lazyload"></div>
        <div class="sub_title lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Timeless minimalist design that infuses sophistication into any home decor. With a textured satin aluminum finish and compact base unit, this art piece elevates your space even before its light begins to glow.
        </div> 
      </div>
    </section>

    {%- render 'alluring-lighting-content', 
        show_color_bar: true, 
        title: title,
        sub_title: sub_title,
    -%}

    <section class="scenes_wrap" style="padding-left: 0;">
      <div class="wrap_item image">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/4_12bf3502-603d-4fd9-96af-203a1b939e64.jpg?v=1623139336" alt="Govee Lyra Floor Lamp Scene Modes" class="lazyload">
      </div>

      <div class="wrap_item text" style="max-width: 46%;">
        <div class="title lazyload page_text_important color_white_important" data-animate_text="true">
          25+ STUNNING <br>
          SCENE MODES
        </div>
        <div class="color_bar lazyload "></div>
        <div class="sub_title lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Change vibes instantly with a preset selection of 25+ stunning, dynamic lighting effects
        </div> 
      </div>
    </section>

    <section class="scenes_wrap" style="padding-right: 0;">
      <div class="wrap_item text" style="max-width: 46%;">
        <div class="title lazyload page_text_important color_white_important" data-animate_text="true">
          DIY Light Shows Made
          By You 
        </div>
        <div class="color_bar lazyload page_sub_text_important color_white_important"></div>
        <div class="sub_title lazyload" data-animate_sub_text="true">
          Customize your own lighting effects with DIY mode, plus apply other users' creations with just one tap.
        </div> 
      </div>

      <div class="wrap_item image">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5_2d7cab0b-1952-41d7-bbfb-06e82dec8ece.jpg?v=1623139336" alt="Govee Lyra Floor Lamp DIY Light" class="lazyload">
      </div>
    </section>

    <section class="banner_wrap bgc_white_important">
      <div class="banner_text_wrap on_top bgc_white_important">
        <div class="banner_text lazyload page_text_important  color_black_important" data-animate_text="true">
          6 VIBRANT MUSIC MODES 
        </div>
        <div class="color_bar lazyload"></div>
        <div class="banner_sub_text lazyload page_sub_text_important color_black_important" data-animate_sub_text="true">
          Watch audio becomes visual as Music Mode transforms every beat of your music
          into a fully reactive light show. 
        </div>
      </div>
      <div class="banner">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6_acbd23e1-5630-472d-bea4-1e0765f5b531.jpg?v=1623139337" alt="Govee Lyra Floor Lamp Music Modes">

        <div class="icon_wrap" >
          <div class="icon_list">
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/17.png?v=1623125452" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Energic
              </div>
            </div>
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/18.png?v=1623125451" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Rhythm
              </div>
            </div>
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/23.png?v=1623125451" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Bounce
              </div>
            </div>
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/22.png?v=1623125451" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Hopping
              </div>
            </div>
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/21.png?v=1623125452" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Strike
              </div>
            </div>
            <div class="icon_item">
              <div class="icon_item_img">
                <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/20.png?v=1623125452" alt="" class="lazyload">
              </div>
              <div class="icon_item_text">
                Vibrate
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="banner_wrap bgc_white_important">
      <div class="banner_text_wrap on_top bgc_white_important">
        <div class="banner_text lazyload page_text_important color_black_important" data-animate_text="true">
          EFFORTLESS VOICE CONTROL
        </div>
        <div class="color_bar lazyload"></div>
        <div class="banner_sub_text lazyload page_sub_text_important color_black_important" data-animate_sub_text="true">
          Control Govee Lyra without even lifting a finger with voice control via Alexa and Google Assistant.
        </div>
      </div>
      <div class="banner">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/7_2761672a-ff65-4c94-ab75-8bfb2667c724.jpg?v=1623139336" alt="Govee Lyra Floor Lamp Voice Control">
      </div>
    </section>

    <section class="specification_wrap H6072">
      <div class="product_img" data-animate_images="true">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/8143.png?v=1623140457" alt="Govee Lyra Floor Lamp Specification">
      </div>
      <div class="specification_table">
        <div class="specification_table_td header">
          <div class="spacification_td_item color_white_important">SPECS</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Size</div>
          <div class="sub_title">137 x 137 x 1450mm</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Plug Cord Length</div>
          <div class="sub_title">1.5m</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Voltage</div>
          <div class="sub_title">24V</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Color</div>
          <div class="sub_title">RGBICWW</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Brightness</div>
          <div class="sub_title">1500 lumens (warm/cool light)</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Control Method</div>
          <div class="sub_title">Mobile APP, RF Remote</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Voice Control</div>
          <div class="sub_title">Alexa, Google Assistant</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Features</div>
          <div class="sub_title">25 Scene Modes, 6 Music Modes</div>
        </div>
      </div>

    </section>
  </div>

  <div class="mobile-show">
    <section class="banner">
      <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/1_c4d10a91-726d-4e4f-9426-065470ddffde.jpg?v=1623143918" alt="Govee Lyra Floor Lamp">
      <div class="banner_text_wrap over_top">
        <div class="banner_text lazyload page_text_important color_white_important" data-animate_text="true">
          Govee Lyra Floor Lamp
        </div>
        <div class="banner_sub_text lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Illuminate your home your way.  
        </div>
      </div>
    </section>
    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="title lazyload page_text_important  color_white_important" data-animate_text="true">
          Futurist, Modern Design
        </div>
        <div class="color_bar lazyload"></div>
        <div class="sub_title lazyload page_sub_text_important  color_white_important" data-animate_sub_text="true">
          Timeless minimalist design that infuses sophistication into any home decor. With a textured satin aluminum finish and compact base unit, this art piece elevates your space even before its light begins to glow.
        </div> 
      </div>

      <div class="wrap_item image banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/2_a50f71fd-1eb3-46b9-8b78-ac230b18f522.jpg?v=1623143918" alt="Govee Lyra Floor Lamp modern design" class="lazyload">
      </div>
    </section>

    {%- render 'alluring-lighting-content', 
        show_color_bar: true, 
        title: title,
        sub_title: sub_title,
    -%}

    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="title lazyload page_text_important  color_white_important" data-animate_text="true">
          25+ STUNNING SCENE MODES
        </div>
        <div class="color_bar lazyload"></div>
        <div class="sub_title lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Change vibes instantly with a preset selection of 25+ stunning, dynamic lighting effects
        </div> 
      </div>
      <div class="wrap_item image banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/4_ecde3343-b5fc-4fec-8c24-d85eac2d4a8d.jpg?v=1623143918" alt="Govee Lyra Floor Lamp Scene Modes" class="lazyload">
      </div>
    </section>

    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="title lazyload page_text_important color_white_important" data-animate_text="true">
          DIY Light Shows Made By You
        </div>
        <div class="color_bar lazyload"></div>
        <div class="sub_title lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Customize your own lighting effects with DIY mode, plus apply other users' creations with just one tap.
        </div> 
      </div>
      <div class="wrap_item image banner">
        <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/5_e8dafb53-61b9-4794-97e4-999e25578401.jpg?v=1623143918" alt="Govee Lyra Floor Lamp DIY Light" class="lazyload">
      </div>
    </section>

    <section class="scenes_wrap">
      <div class="wrap_item text">
        <div class="title lazyload color_white_important page_text_important" data-animate_text="true">
          6 VIBRANT MUSIC MODES 
        </div>
        <div class="color_bar lazyload"></div>
        <div class="sub_title lazyload  page_sub_text_important color_white_important" data-animate_sub_text="true">
          Watch audio becomes visual as Music Mode transforms every beat of your music
          into a fully reactive light show. 
        </div>
      </div>
      <div class="icon_wrap" >
        <div class="icon_list">
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/17_9b4e669a-febd-48fd-9450-d54494ebae81.png?v=1623204510" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Energic
            </div>
          </div>
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/18_fab3aed9-5799-44dc-82df-da202bb3046e.png?v=1623204510" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Rhythm
            </div>
          </div>
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/23_582c6b75-09e9-4b10-842a-e3eef4ac7cc5.png?v=1623204510" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Bounce
            </div>
          </div>
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/22_75833dc3-d924-4a67-8a54-7f397f9f9f6c.png?v=1623204511" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Hopping
            </div>
          </div>
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/21_53a81ff9-5582-4ce4-8e7a-55e6d0af08d9.png?v=1623204510" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Strike
            </div>
          </div>
          <div class="icon_item">
            <div class="icon_item_img">
              <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/20_8efd040f-7c77-44d9-abdb-4613c6cf114a.png?v=1623204510" alt="" class="lazyload">
            </div>
            <div class="icon_item_text">
              Vibrate
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_item image banner">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6_bbf859b3-af0d-4cf3-b64f-8daf9340f831.jpg?v=1623143918" alt="Govee Lyra Floor Lamp Music Modes">
      </div>
    </section>



    <section class="banner_wrap">
      <div class="banner_text_wrap on_top">
        <div class="banner_text lazyload page_text_important color_white_important" data-animate_text="true">
          EFFORTLESS VOICE CONTROL
        </div>
        <div class="color_bar lazyload"></div>
        <div class="banner_sub_text lazyload page_sub_text_important color_white_important" data-animate_sub_text="true">
          Control Govee Lyra without even lifting a finger with voice control via Alexa and Google Assistant.
        </div>
      </div>
      <div class="banner">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/7_e7847b96-37e9-4aa7-8965-b95f411f651a.jpg?v=1623143918" alt="Govee Lyra Floor Lamp Voice Control">
      </div>
    </section>

    <section class="specification_wrap H6072">
      <div class="product_img" data-animate_images="true">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/c76648a2caa2073e86849b62d6a0ac6e.png?v=1623205484" alt="Govee Lyra Floor Lamp Specification">
      </div>
      <div class="specification_table">
        <div class="specification_table_td header">
          <div class="spacification_td_item color_white_important">SPECS</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Size</div>
          <div class="sub_title">137 x 137 x 1450mm</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Plug Cord Length</div>
          <div class="sub_title">1.5m</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Voltage</div>
          <div class="sub_title">24V</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Color</div>
          <div class="sub_title">RGBICWW</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Brightness</div>
          <div class="sub_title">1500 lumens (warm/cool light)</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Control Method</div>
          <div class="sub_title">Mobile APP, RF Remote</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Voice Control</div>
          <div class="sub_title">Alexa, Google Assistant</div>
        </div>
        <div class="specification_table_td">
          <div class="title">Features</div>
          <div class="sub_title">25 Scene Modes, 6 Music Modes</div>
        </div>
      </div>

    </section>
  </div>
</div>

<style>
  img {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    #H6072 {
      padding-bottom: 20px;
    }
    .banner {
      position: relative;
      min-height: 200px;
    }
    .banner_text_wrap.over_top {
      padding: 0 20px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner_text_wrap.on_top {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px;
      background: #000;
    }
    .banner_text_wrap.over_top .banner_text {
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
    }
    .banner_text_wrap.over_top .banner_sub_text {
      font-size: 14px;
      line-height: 20px;
    }
    .banner_text_wrap.on_top .banner_text {
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .banner_text_wrap.on_top .banner_sub_text {
      font-size: 14px;
      line-height: 20px;
    }
    .banner_text_wrap.on_top .color_bar {
      height: 4px;
      width: 60px;
      background: linear-gradient(90deg, #FF00FF 0%, #FF6B00 33%, #D2F400 67%, #00CEFF 100%);
      margin-bottom: 20px;
    }
    .banner_wrap {
      position: relative;
    }
    
    .icon_wrap {
      padding: 0 20px 10px;
    }
    .icon_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .icon_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
    .icon_item_img {
      margin-bottom: 6px;
      width: 33px;
    }
    .icon_item_text {
      font-size: 12px;
    }
    
    .scenes_wrap {
      background: #000;
    }
    .wrap_item.text {
      padding: 30px 20px;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
    .wrap_item.text .title {
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 15px;
      padding: 0 20px;
    }
    .wrap_item.text .sub_title {
      font-size: 14px;
      line-height: 20px;
      color: #fff;
    }
    .wrap_item.text .color_bar {
      height: 3px;
      width: 60px;
      background: linear-gradient(270deg, #FF02F8 0%, #F88100 26%, #9EEA3E 62%, #0ED0ED 100%);
      margin-bottom: 10px;
    }

    .specification_wrap {
      background: #000;
    }
    .specification_wrap .product_img img {
      width: auto;
      margin: 10px auto;
    }
    .specification_table {
      width: 100%;
      padding: 20px;
    }
    .specification_table_td {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      border-bottom: 1px solid #4d4d4d;
    }
    .specification_table_td.header {
      border-bottom: 0;
      padding-top: 0;
    }
    .specification_table_td.header .spacification_td_item {
      font-size: 24px;
      line-height: 30px;
      border-bottom: 2px solid #fff;
    }
    .specification_table_td .title {
      font-size: 12px;
      width: 40%;
      color: #fff;
      font-weight: bolder;
    }
    .specification_table_td .sub_title {
      font-size: 12px;
      width: 60%;
      text-align: left;
      color: #fff;

    }

  }
  @media screen and (min-width: 769px) {
    #H6072 {
      padding-bottom: 20px;
    }
    .banner {
      position: relative;
      min-height: 400px;
    }
    .banner_text_wrap.on_top {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vw 20vw;
      background: #000;
    }
    .banner_text_wrap.on_top .banner_text {
      font-size: 3.75vw;
      font-weight: bold;
      line-height: 4vw;
      margin-bottom: 1.5vw;
    }
    .banner_text_wrap.on_top .banner_sub_text {
      font-size: 1.5vw;
      line-height: 2vw;
    }
    .banner_text_wrap.on_top .color_bar {
      height: 4px;
      width: 5vw;
      background: linear-gradient(90deg, #FF00FF 0%, #FF6B00 33%, #D2F400 67%, #00CEFF 100%);
      margin-bottom: 2vw;
    }
    
    .banner_text_wrap.over_top {
      padding: 0 24vw;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner_text_wrap.over_top .banner_text {
      font-size: 3.75vw;
      font-weight: bold;
      line-height: 4vw;
      margin-bottom: 1.5vw;
    }
    .banner_text_wrap.over_top .banner_sub_text {
      font-size: 1.5vw;
      line-height: 2vw;
    }
    .icon_wrap {
      position: absolute;
      top: 2vw;
      right: 8vw;
      width: 19vw;
    }
    .icon_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .icon_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5vw;
      width: 32%;
    }
    .icon_item_img {
      margin-bottom: .5vw;
      width: 3.8vw;
    }
    .icon_item_text {
      font-size: .8vw;
    }
    
    .scenes_wrap {
      display: flex;
      align-items: center;
      background: #000;
      padding: 2.5vw 2vw;
    }
    .wrap_item.image {
      flex: 1;
    }
    .wrap_item.text {
      flex: 1;
      padding: 0 4vw;
    }
    .wrap_item.text .title {
      font-size: 2.3vw;
      font-weight: 700;
      line-height: 3.2vw;
      margin-bottom: 2.5vw;
      color: #fff;
    }
    .wrap_item.text .sub_title {
      font-size: 1.5vw;
      line-height: 2vw;
      color: #fff;
    }
    .wrap_item.text .color_bar {
      height: 4px;
      width: 5vw;
      background: linear-gradient(270deg, #FF02F8 0%, #F88100 26%, #9EEA3E 62%, #0ED0ED 100%);
      margin-bottom: 2vw;
    }

    .specification_wrap {
      background: #000;
      padding: 2vw 20% 2vw 10%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
    .specification_wrap .product_img {
      height: 35vw;
    }
    .specification_wrap .product_img img {
      height: 100%;
    }
    .specification_table {
      width: 100%;
      margin-left: 10%;
    }
    .specification_table_td {
      display: flex;
      justify-content: space-between;
      padding: 1vw;
      border-bottom: 1px solid #4d4d4d;
    }
    .specification_table_td.header {
      border-bottom: 0;
      padding-top: 0;
    }
    .specification_table_td.header .spacification_td_item {
      font-size: 2.2vw;
      line-height: 3.5vw;
      border-bottom: 2px solid #fff;
    }
    .specification_table_td .title {
      font-size: 1vw;
      color: #fff;
      padding-right: 30%;
      font-weight: bolder;
    }
    .specification_table_td .sub_title {
      font-size: 1vw;
      color: #fff;

    }

  }
</style>