{%- liquid
  assign current_variant = product.selected_or_first_available_variant

assign product_zoom_size = '1800x1800'
assign product_image_size = '620x'
case image_container_width
when 'small'
assign product_image_width = 'medium-up--two-fifths'
assign product_description_width = 'medium-up--three-fifths'
assign product_image_size = '480x'
when 'medium'
assign product_image_width = 'medium-up--one-half'
assign product_description_width = 'medium-up--one-half'
assign product_image_size = '620x'
when 'large'
assign product_image_width = 'medium-up--three-fifths'
assign product_description_width = 'medium-up--two-fifths'
assign product_image_size = '740x'
endcase

unless thumbnail_position
assign thumbnail_position = 'beside'
endunless

unless description_style
assign description_style = 'full'
endunless
-%}

<div id="ProductSection-{{ section_id }}"
     class="product-section"
     data-section-id="{{ section_id }}"
     data-section-type="product-template"
     data-product-title="{{ product.title | escape }}"
     data-product-handle="{{ product.handle }}"
     {% if settings.product_zoom_enable %}
     data-image-zoom="true"
     {% endif %}
     {% if settings.inventory_enable %}
     data-inventory="true"
     {% endif %}
     {% if settings.inventory_transfers_enable %}
     data-incoming-inventory="true"
     {% endif %}
     {% unless isModal %}
     data-enable-history-state="true"
     {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content">
    <div class="page-width">

      {%- if settings.show_breadcrumbs and isModal != true -%}
      {%- render 'breadcrumbs' -%}
      {%- endif -%}

      <div class="grid">
        <div class="grid__item {{ product_image_width }} product-single__sticky">
          {%- render 'product-images',
            section_id: section_id,
          product: product,
          isModal: isModal,
          product_zoom_size: product_zoom_size,
          product_image_size: product_image_size,
          thumbnail_position: thumbnail_position,
          thumbnail_arrows: thumbnail_arrows,
          video_looping: video_looping,
          video_style: video_style
          -%}
        </div>

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {%- if settings.vendor_enable -%}
            <div class="product-single__vendor">
              {%- assign vendor_handle = product.vendor | handleize  -%}
              {%- if collections[vendor_handle] != empty -%}
              <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                {{ collections[vendor_handle].title }}
              </a>
              {%- else -%}
              {{ product.vendor | link_to_vendor }}
              {%- endif -%}
            </div>
            {%- endif -%}

            {%- if isModal -%}
            <p class="h2 product-single__title">
              {{ product.title }}
            </p>
            {%- else -%}
            <h1 class="h2 product-single__title">
              {{ product.title }}
            </h1>
            {%- endif -%}

            {%- if settings.enable_product_reviews and settings.reviews_layout == 'full' -%}
            {%- if isModal -%}
            {%- assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id -%}
            {%- else -%}
            {%- assign review_link = '#Reviews-' | append: product.id -%}
            {%- endif -%}
            <a href="{{ review_link }}" class="product-single__review-link">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </a>
            {%- endif -%}

            {%- if settings.sku_enable -%}
            <p id="Sku-{{ section_id }}" class="product-single__sku">
              {%- if current_variant.sku -%}
              {{ current_variant.sku }}
              {%- endif -%}
            </p>
            {%- endif -%}

            {%- assign hide_sale_price = true -%}
            {%- if product.compare_at_price_max > product.price -%}
            {%- if current_variant.compare_at_price -%}
            {%- assign hide_sale_price = false -%}
            {%- endif -%}
            <span
                  id="PriceA11y-{{ section_id }}"
                  class="visually-hidden"
                  aria-hidden="{{ hide_sale_price }}">
              {{ 'products.general.regular_price' | t }}
            </span>
            <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
              <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                {%- if current_variant.compare_at_price > current_variant.price -%}
                {{ current_variant.compare_at_price | money }}
                {%- endif -%}
              </span>
            </span>
            <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            {%- else -%}
            <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
            {%- endif -%}

            <span id="ProductPrice-{{ section_id }}"
                  class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}">
              {{ current_variant.price | money }}
            </span>

            <div class="product__unit-price product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
              <span class="product__unit-base--{{ section_id }}">
                {%- if current_variant.unit_price_measurement -%}
                {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                {{ current_variant.unit_price_measurement.reference_value }}
                {%- endif -%}
                {{ current_variant.unit_price_measurement.reference_unit }}
                {%- endif -%}
              </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>
            <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              <small>
                {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </small>
            </div>
            {%- endif -%}

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
            {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

            <script>
              // Store inventory quantities in JS because they're no longer
              // available directly in JS when a variant changes.
              // Have an object that holds all potential products so it works
              // with quick view or with multiple featured products.
              window.inventories = window.inventories || {};
              window.inventories['{{section_id}}'] = {};
                                 {%- for variant in variants_with_inventory_tracking -%}
                                 window.inventories['{{section_id}}'][{{variant.id}}] = {
                'quantity': {{ variant.inventory_quantity | default: 0 }},
                'incoming': {{ variant.incoming | default: false | json }},
                'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
              };
              {%- endfor -%}
            </script>

            {% comment %}
            If loaded in quick view, it might be from a JS-loaded function
            that loads recommended products. If that's the case, the above
            JS will not set the variant inventory. Add it to an accessible
            data div to read later instead.
            {% endcomment %}
            {%- if isModal -%}
            <div
                 data-section-id="{{ section_id }}"
                 class="hide js-product-inventory-data"
                 aria-hidden="true"
                 >
              {%- for variant in variants_with_inventory_tracking -%}
              <div
                   class="js-variant-inventory-data"
                   data-id="{{ variant.id }}"
                   data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                   data-incoming="{{ variant.incoming | default: false | json }}"
                   data-date="{{ variant.next_incoming_date | date: format: 'date' | json }}"
                   >
              </div>
              {%- endfor -%}
            </div>
            {%- endif -%}

            {%- assign inventory_visible = false -%}
            {%- if settings.inventory_enable and current_variant.inventory_management == 'shopify' -%}
            {%- if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 -%}
            {%- assign inventory_visible = true -%}
            {%- endif -%}
            {%- endif -%}
            {%- if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue' -%}
            {%- assign inventory_visible = false -%}
            {%- endif -%}
            <div
                 id="ProductInventory-{{ section_id }}"
                 class="product__inventory {% unless inventory_visible %}hide{% endunless %}"
                 >
              {%- if current_variant.available -%}
              {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
              {%- endif -%}
            </div>

            {%- if settings.inventory_transfers_enable -%}
            <div
                 id="ProductIncomingInventory-{{ section_id }}"
                 class="product__inventory{% if inventory_visible %} hide{% endif %}">
              {%- if current_variant.incoming and inventory_visible == false -%}
              {%- if current_variant.next_incoming_date -%}
              {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
              {%- if current_variant.available -%}
              {{ 'products.product.will_not_ship_until' | t: date: date }}
              {%- else -%}
              {{ 'products.product.will_be_in_stock_after' | t: date: date }}
              {%- endif -%}
              {%- else -%}
              {{ 'products.product.waiting_for_stock' | t }}
              {%- endif -%}
              {%- endif -%}
            </div>
            {%- endif -%}
            {% endif %}

            <hr class="hr--medium">

            {% unless isModal %}
            {% comment %}
            Shopify's product form attaches a number of tracking
            scripts that cause slower load times and false statistics.
            Quick view modals request these on-demand.
            {% endcomment %}
            {%- render 'product-form',
                section_id: section_id,
            product: product,
            current_variant: current_variant
            -%}
            {% else %}
            <div
                 id="ProductFormHolder-{{ section_id }}"
                 data-url="{{ product.url }}"
                 data-template="{{ product.template_suffix }}">
              {%- if product.options.size > 0 -%}
              {%- for i in (1..product.options.size) -%}
              <div class="placeholder-content" style="min-height: 86px; max-width: 66%;"></div>
              {%- endfor -%}
              {%- endif -%}
              <div class="placeholder-content" style="min-height: 86px;"></div>
            </div>
            {% endunless %}

            {%- unless isModal -%}
            {%- if settings.surface_pickup_enable -%}
            <div id="StoreAvailabilityHolder-{{ section_id }}"
                 data-product-name="{{ product.title | escape }}"
                 data-base-url="{{ shop.url }}{{ routes.root_url }}"
                 ></div>
            {%- endif -%}
            {%- endunless -%}

            {%- unless description_style == 'full' -%}

            {%- unless settings.product_description_collapse -%}
            <div class="product-single__description rte">
              {{ product.description }}
            </div>
            {%- endunless -%}

            {%- render 'product-additional-content', product: product, section_id: section_id -%}
            {%- endunless -%}


            {% render 'product-accordian' %}



          </div>
        </div>
      </div>

      {% if description_style == 'full' %}
      {% unless settings.product_description_collapse %}
      <div class="product-single__description-full rte">
        {{ product.description }}
      </div>
      {% endunless %}

      {%- render 'product-additional-content', product: product, section_id: section_id -%}
      {% endif %}
    </div>
  </div>
</div>

{% render 'additional-custom-content' %}

<div class="page_wrap">
  <div class="mobile-hide" data-animate_images="true">
    <div class="banner_wrap text">
      <div class="page_text">Govee Wi-Fi RGB LED Strip Lights</div> 
      <div class="page_sub_text">Explore An Intelligent World</div>
      <div class="page_sub_img">
        <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/icon_fc2319ce-dda3-48c5-9edf-55105bdca1c8.png?v=1626332989" alt="" class="lazyload">
      </div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P1_5600115b-83ea-448d-aba3-02587d1ab845.jpg?v=1626331662" alt="" class="lazyload">
    </div>
    <div class="banner_wrap text lazyload bgc_white_important" data-animate_text="true">
      <div class="banner_text page_text color_black_important">SMART VOICE CONTROL</div>
      <div class="color_bar"></div>
      <div class="banner_sub_text page_sub_text color_black_important">Works with Alexa and Google Assistant.<br>Use voice commands for power on/ off, colors, brightness, and modes.</div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P2_1cbae200-b224-4ffd-9a57-43697f978b16.jpg?v=1626146538" alt="" class="lazyload">
    </div>
    <div class="banner_wrap text lazyload bgc_white_important" data-animate_text="true">
      <div class="banner_text page_text color_black_important">CONVENIENT APP CONTROL</div>
      <div class="color_bar"></div>
      <div class="banner_sub_text page_sub_text color_black_important">Manage your lighting from anywhere in the world.<br>Find both simple controls and amazing customization with the free Govee Home App.</div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P3_545c8f14-2fb7-47aa-a644-52586476b75e.jpg?v=1626146538" alt="" class="lazyload">
    </div>
    <div class="scence_wrap bgc_white_important">
      <div class="scence_item img bgc_white_important">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P4_b62ae589-3228-4a75-b5dd-cb6d7e1cbed9.jpg?v=1626146538" alt="" class="lazyload">
      </div>
      <div class="scence_item text right lazyload" data-animate_text="true">
        <div class="scence_text page_text color_black_important">MUSIC SYNC MODE</div>
        <div class="scence_color_bar"></div>
        <div class="scence_sub_text page_sub_text color_black_important">Using the highly-sensitive built-in mic, your lights can dance along to the beat of your songs (or even your own singing voice).</div>
      </div>
    </div>
    <div class="scence_wrap bgc_white_important">
      <div class="scence_item text left lazyload" data-animate_text="true">
        <div class="scence_text page_text color_black_important">AMBIENT BEDROOM RGB</div>
        <div class="scence_color_bar"></div>
        <div class="scence_sub_text page_sub_text color_black_important">Easily place alexa LED Strip Lights under and behind your bed or around your walls for stunning and vivid bedroom visuals that also relax the mind.</div>
      </div>
      <div class="scence_item img bgc_white_important">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P5_0b4a5ee8-0178-407b-a982-c3f2e7de0ac1.jpg?v=1626146538" alt="" class="lazyload">
      </div>
    </div>
    <div class="specification_wrap bgc_white_important">
      <div class="page-width specification_content">
        <div class="specification_table">
          <div class="specification_theader color_black_important page_text">
            Specs
          </div>
          <div class="specification_tbody">
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Brand</span>
              <span class="specification_td bold">Govee</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Color</span>
              <span class="specification_td bold">RGB</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Average Life</span>
              <span class="specification_td bold">50000 Hours</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Material</span>
              <span class="specification_td bold">FPC+LED</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Voltage</span>
              <span class="specification_td bold">12 Volts</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Batteries Required</span>
              <span class="specification_td bold">No</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Power and Plug Description</span>
              <span class="specification_td bold">Corded Electric</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Power Adapter</span>
              <span class="specification_td bold">UK Plug</span>
            </div>
          </div>
        </div>
        <div class="spacification_image">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6110.png?v=1626146538" alt="" class="lazyload">
        </div>
      </div>
    </div>
    <div class="compare_wrap bgc_white_important">
      <div class="page-width compare_contet">
        <div class="compare_header page_text bgc_white_important color_black_important">
          Compare with Other Model
        </div>
        <div class="compare_table">
          <div class="compare_tr">
            <div class="compare_td">
              Preview
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6110_10b0ad10-4143-4080-9f52-3566d6e6eddc.png?v=1626146538" alt="" class="lazyload">
              </div>
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6170_23d9a997-9822-4ed0-b9f9-a1433f7a42b3.png?v=1626316062" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">
              Model
            </div>
            <div class="compare_td">
              <span>H6110</span>
            </div>
            <a href="products/phantasy-led-strip-lights" target="_blank" class="compare_td">
              <span>H6170</span>
            </a>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Length</div>
            <div class="compare_td col-2">10m(5m x 2 Rolls)/ 32.8ft(16.4ft x 2Rolls)</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Lights Color</div>
            <div class="compare_td">RGB</div>
            <div class="compare_td">RGB</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Connectivity</div>
            <div class="compare_td">Wi-Fi + Bluetooth</div>
            <div class="compare_td">Bluetooth</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Control method</div>
            <div class="compare_td">Smart APP, Voice Control</div>
            <div class="compare_td">Smart APP, 443 Remote Control</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Water resistance</div>
            <div class="compare_td">Yes</div>
            <div class="compare_td">Yes</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Use Recommendation</div>
            <div class="compare_td">Indoor</div>
            <div class="compare_td">Outdoor</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-show" data-animate_images="true">
    <div class="banner_wrap text">
      <div class="banner_text page_text">Govee Wi-Fi RGB LED Strip Lights</div> 
      <div class="banner_sub_text page_sub_text">Explore An Intelligent World</div>
      <div class="banner_sub_img page_sub_img">
        <img data-src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/icon_fc2319ce-dda3-48c5-9edf-55105bdca1c8.png?v=1626332989" alt="" class="lazyload">
      </div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopifycdn.net/s/files/1/0556/4203/0246/files/A1_271e6d1b-305f-482e-b2f8-3986e2e81e93.jpg?v=1626331662" alt="" class="lazyload">
    </div>
    <div class="banner_wrap text lazyload bgc_white_important" data-animate_text="true">
      <div class="banner_text page_text color_black_important">SMART VOICE CONTROL</div>
      <div class="banner_sub_text page_sub_text color_black_important">Works with Alexa and Google Assistant.Use voice commands for power on/ off, colors, brightness, and modes.</div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/A2.jpg?v=1626148817" alt="" class="lazyload">
    </div>
    <div class="banner_wrap text lazyload bgc_white_important" data-animate_text="true">
      <div class="banner_text page_text color_black_important">CONVENIENT APP CONTROL</div>
      <div class="banner_sub_text page_sub_text color_black_important">Manage your lighting from anywhere in the world. Find both simple controls and amazing customization with the free Govee Home App.</div>
    </div>
    <div class="banner_wrap img">
      <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/A3.jpg?v=1626148817" alt="" class="lazyload">
    </div>
    <div class="scence_wrap bgc_white_important">
      <div class="scence_item text right lazyload" data-animate_text="true">
        <div class="scence_text page_text color_black_important">MUSIC SYNC MODE</div>
        <div class="scence_sub_text page_sub_text color_black_important">Using the highly-sensitive built-in mic, your lights can dance along to the beat of your songs (or even your own singing voice).</div>
      </div>
      <div class="scence_item img bgc_white_important">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P4_b62ae589-3228-4a75-b5dd-cb6d7e1cbed9.jpg?v=1626146538" alt="" class="lazyload">
      </div>
    </div>
    <div class="scence_wrap bgc_white_important">
      <div class="scence_item text left lazyload" data-animate_text="true">
        <div class="scence_text page_text color_black_important">AMBIENT BEDROOM RGB</div>
        <div class="scence_sub_text page_sub_text color_black_important">Easily place alexa LED Strip Lights under and behind your bed or around your walls for stunning and vivid bedroom visuals that also relax the mind.</div>
      </div>
      <div class="scence_item img bgc_white_important">
        <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/P5_0b4a5ee8-0178-407b-a982-c3f2e7de0ac1.jpg?v=1626146538" alt="" class="lazyload">
      </div>
    </div>
    <div class="specification_wrap bgc_white_important">
      <div class="page-width specification_content">
        <div class="specification_table">
          <div class="specification_theader color_black_important page_text">
            Specs
          </div>
          <div class="specification_tbody">
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Brand</span>
              <span class="specification_td bold">Govee</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Color</span>
              <span class="specification_td bold">RGB</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Average Life</span>
              <span class="specification_td bold">50000 Hours</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Material</span>
              <span class="specification_td bold">FPC + LED</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Voltage</span>
              <span class="specification_td bold">12 Volts</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Batteries Required</span>
              <span class="specification_td bold">No</span>
            </div>
            <div class="specification_tr">
              <span class="specification_td">Power and Plug Description</span>
              <span class="specification_td bold">Corded Electric</span>
            </div>
            <div class="specification_tr page_sub_text">
              <span class="specification_td">Power Adapter</span>
              <span class="specification_td bold">UK Plug</span>
            </div>
          </div>
        </div>
        <div class="spacification_image hide">
          <img data-src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6110.png?v=1626146538" alt="" class="lazyload">
        </div>
      </div>
    </div>
    <div class="compare_wrap bgc_white_important">
      <div class="page-width compare_contet">
        <div class="compare_header page_text">
          Compare with Other Model
        </div>
        <div class="compare_table">
          <div class="compare_tr">
            <div class="compare_td">
              Preview
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6110_10b0ad10-4143-4080-9f52-3566d6e6eddc.png?v=1626146538" alt="" class="lazyload">
              </div>
            </div>
            <div class="compare_td">
              <div class="compare_td_img">
                <img src="https://cdn.shopify.com/s/files/1/0556/4203/0246/files/6170_23d9a997-9822-4ed0-b9f9-a1433f7a42b3.png?v=1626316062" alt="" class="lazyload">
              </div>
            </div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">
              Model
            </div>
            <div class="compare_td">
              <span>H6110</span>
            </div>
            <a href="products/phantasy-led-strip-lights" target="_blank" class="compare_td">
              <span>H6170</span>
            </a>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Length</div>
            <div class="compare_td col-2">10m(5m x 2 Rolls)/ 32.8ft(16.4ft x 2Rolls)</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Lights Color</div>
            <div class="compare_td">RGB</div>
            <div class="compare_td">RGB</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Connectivity</div>
            <div class="compare_td">Wi-Fi + Bluetooth</div>
            <div class="compare_td">Bluetooth</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Control method</div>
            <div class="compare_td">Smart APP, Voice Control</div>
            <div class="compare_td">Smart APP, 443 Remote Control</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Water resistance</div>
            <div class="compare_td">Yes</div>
            <div class="compare_td">Yes</div>
          </div>
          <div class="compare_tr">
            <div class="compare_td">Use Recommendation</div>
            <div class="compare_td">Indoor</div>
            <div class="compare_td">Outdoor</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .page_wrap {
    background-color: #000;
    margin-bottom: 50px;
  }
  .page_wrap [data-animate_images=true] .lazyload {
    opacity:0
  }
  .page_wrap [data-animate_images=true] .lazyloaded {
    opacity:1;
    animation:0.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
    animation-name:zoom-fade-small;
    transition:none;
  }
  .page_wrap [data-animate_text=true] {
    opacity: 0;
  }
  .page_wrap .lazyloaded [data-animate_text=true]{
    opacity: 1;
    animation: 0.8s cubic-bezier(0.26, 0.54, 0.32, 1) 0.3s forwards;
    animation-name: fade-in;
  }
  img {
    display: block;
    width: 100%;
  }
  .bold {
    font-weight: bold;
    font-family: 'Avenir LT Std';
  }
  .page_text {
    font-family: 'Avenir LT Std';
  }
  .page_sub_text {
    font-family: 'Avenir Next';
  }
  a.compare_td {
    text-decoration: underline;
  }
  @media screen and (min-width: 768px) {
    .page_text {
      font-size: 2.3vw;
      font-weight: bold;
      line-height: 3.2vw;
      color: #fff;
    }
    .page_sub_text {
      font-size: 1.2vw;
      line-height: 1.8vw;
      color: #fff;
      padding: .4vw 0 1vw;
    }
    .banner_wrap {
      position: relative;
    }
    .banner_wrap.text {
      width: 100%;
      text-align: center;
      padding: 4.5vw 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .banner_text {
      width: 52.5vw;
    }
    .banner_sub_img {
      width: 15vw;
    }
    .banner_inner_text {
      position: absolute;
      top: 20%;
      left: 10%;
    }
    .page_sub_img {
      width: 24vw;
    }

    .color_bar {
      width: 5vw;
      height: .2vw;
      margin: 1vw 0;
      background: linear-gradient(90deg, #ff00ff,#ff6b00, #d2f400, #00ceff);
    }
    .scence_color_bar {
      width: 3vw;
      height: .2vw;
      margin: 1vw 0;
      background: linear-gradient(60deg, #ff00ff, #00ffc0, #ffff00);
    }

    .scence_wrap {
      background: #000;
      display: flex;
      align-items: center;
    }
    .scence_item {
      width: 50%;
    }
    .scence_item.text.left {
      padding: 0 4.2vw;
    }
    .scence_item.text.right {
      padding: 0 4.2vw;
    }
    .scence_text {
      width: 100%;
    }
    .scence_sub_text {
      margin-bottom: 1.6vw;
    }
    .product_func_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product_func_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .product_func_img {
      width: 2.5vw;
    }
    .product_func_text {
      font-size: .8vw;
      color: #252525;
    }

    .specification_wrap {
      padding: 4vw 0;
      background: #000;
    }
    .specification_content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .specification_table {
      flex: 1;
      margin-right: 6vw;
    }
    .specification_theader {
      padding: 1vw 0;
      color: #fff;
    }
    .specification_tbody {
      border-top: 1px solid #888888;
    }
    .specification_tr {
      padding: .8vw 0;
      border-bottom: 1px solid #888888;

      display: flex;
      justify-content: flex-start;
    }
    .specification_td {
      color: #111;
      width: 48%;
    }
    .spacification_image {
      width: 21vw;
    }

    .compare_wrap {
      padding: 0 0 4vw 0;
      background: #000;
    }
    .compare_header {
      color: #111 !important;
      padding: 2.6vw 0;
    }
    .compare_table {
      border-top: 1px solid #888888;
    }
    .compare_tr {
      display: flex;
      align-items: center;
      padding: .8vw 0;
      border-bottom: 1px solid #888888;
    }
    .compare_td {
      color: #111;
      flex: 1;
    }
    .compare_td:first-child {
      font-weight: normal;
      font-family: "Avenir Next";
    }
    .compare_td:not(:first-child) {
      font-weight: bold;
    }
    .compare_td_img {
      width: 8vw;
    }
    .compare_td.col-2 {
      flex: 66%;
      text-align: center;
    }
  }

  @media screen and (max-width: 767px) {
    .page_text {
      font-size: 22px;
      font-weight: bold;
      line-height: 30px;
      color: #fff;
    }
    .page_sub_text {
      font-size: 13px;
      line-height: 18px;
      color: #fff;
      padding: 10px 0 12px;
    }
    .banner_wrap.text {
      width: 100%;
      text-align: left;
      padding: 42px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .banner_text {
      width: 100%;
    }
    .banner_sub_img {
      width: 160px;
    }
    .color_bar {
      width: 5vw;
      height: .2vw;
      margin: 1vw 0;
      background: linear-gradient(90deg, #ff00ff,#ff6b00, #d2f400, #00ceff);
    }
    .scence_color_bar {
      width: 3vw;
      height: .2vw;
      margin: 1vw 0;
      background: linear-gradient(60deg, #ff00ff, #00ffc0, #ffff00);
    }
    .scence_wrap {
      background: #000;
      padding: 0 0 20px;
    }
    .scence_item {
      width: 100%;
      padding: 0 25px;
    }
    .scence_item.text {
      padding-top: 38px;
    }
    .scence_item.img {
      background: #252525;
      padding: 25px;
    }
    .scence_item.img img {
      border-radius: 10px;
    }
    .scence_text {
      width: 100%;
    }
    .scence_sub_text {
      margin-bottom: 14px;
    }
    .product_func_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product_func_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: calc(100% / 6);
    }
    .product_func_img {
      width: 25px;
    }
    .product_func_text {
      font-size: 12px;
      color: #252525;
      white-space: nowrap;
      transform: scale(.8);
    }

    .specification_wrap {
      padding: 36px 0;
      background: #000;
    }
    .specification_content {
      padding: 0 25px;
    }
    .specification_theader {
      padding: 10px 0 20px;
      color: #fff;
    }
    .specification_tbody {
      border-top: 1px solid #888888;
    }
    .specification_tr {
      padding: 6px 0;
      border-bottom: 1px solid #888888;

      display: flex;
      justify-content: flex-start;
    }
    .specification_td {
      color: #111;
      width: 48%;
      font-size: 12px;

      transform: scale(.8);
    }
    .spacification_image {
      width: 160px;
      margin: 30px auto;
    }

    .compare_wrap {
      padding: 0 0 50px 0;
      background: #000;
    }
    .compare_content {
      padding: 0 25px;
    }
    .compare_header {
      color: #111 !important;
      padding: 10px 0 30px;
    }
    .compare_table {
      border-top: 1px solid #888888;
    }
    .compare_tr {
      display: flex;
      padding: 6px 0;
      border-bottom: 1px solid #888888;
    }
    .compare_td {
      color: #111;
      flex: 1;
      font-size: 12px;

      transform: scale(.8);
    }
    .compare_td:not(:first-child) {
      font-weight: bold;
    }
    .compare_td_img {
      width: 60px;
    }
    .compare_td.col-2 {
      flex: auto;
      width: 42%;
    }
  }
</style>