{% liquid
  assign new_arrival_banner = section.settings.new_arrival_banner
  assign new_arrival_banner_mobile = section.settings.new_arrival_banner_mobile
%}
{% if new_arrival_banner %}
<section class="top_products_section" data-animate_images="true">
  <div class="top_section_banner">
    <img src="{{ new_arrival_banner | img_url: 'master' }}" alt="{{ new_arrival_banner.alt }}" class="lazyload mobile-hide">
    <img src="{{ new_arrival_banner_mobile | img_url: 'master' }}" alt="{{ new_arrival_banner_mobile.alt }}" class="lazyload mobile-show">
  </div>
  <div class="top_product_list">
    {% for block in section.blocks %}
      {% if block.type == 'new-arrival' %}
        {% liquid 
          assign product_img = block.settings.new_arrival_products_img
          assign product_img_mobile = block.settings.new_arrival_products_img_mobile
          assign product_image = block.settings.new_arrival_products_image
          assign product_image_mobile = block.settings.new_arrival_products_image_mobile
          assign product_title = block.settings.new_arrival_products_title
          assign product_price_sale = block.settings.new_arrival_products_price_sale 
          assign product_price_virtual = block.settings.new_arrival_products_price_virtual 
          assign product_url = block.settings.new_arrival_products_url
          assign product_star = block.settings.new_arrival_stars_number | at_least: 0 | at_most: 5
          assign product_reviews = block.settings.new_arrival_reviews
          assign product_sale_percent = product_price_sale | divided_by: product_price_virtual | times: 100 | minus: 100 | abs | round | append: '%' 
        %}
        {% render 'summer-sale-products',
          product_img:product_img,  
          product_img_mobile: product_img_mobile,
          product_image: product_image,
          product_image_mobile: product_image_mobile,
          product_title: product_title,
          product_price_sale: product_price_sale,
          product_price_virtual: product_price_virtual,
          product_url: product_url,
          product_star: product_star,
          product_reviews: product_reviews,
          product_sale_percent: product_sale_percent,
          forloop: forloop
        %}
        <div class="{{forloop.index0}}"></div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "New Arrival Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "new_arrival_banner",
        "label": "Upload Hot Sale Banner of PC"
      },
      {
        "type": "image_picker",
        "id": "new_arrival_banner_mobile",
        "label": "Upload Hot Sale Banner of Mobile"
      }
    ],
    "blocks": [
      {
        "type": "new-arrival",
        "name": "NEW ARRIVAL PRODUCTS",
        "settings": [
          {
            "type": "image_picker",
            "id": "new_arrival_products_img",
            "label": "Upload New Arrival Products Image of PC"
          },
          {
            "type": "image_picker",
            "id": "new_arrival_products_img_mobile",
            "label": "Upload New Arrival Products Image of Moblie"
          },
          {
            "type": "image_picker",
            "id": "new_arrival_products_image",
            "label": "Upload New Arrival Products Physical Image of PC"
          },
          {
            "type": "image_picker",
            "id": "new_arrival_products_image_mobile",
            "label": "Upload New Arrival Products Physical Image of Mobile"
          },
          {
            "type": "text",
            "id": "new_arrival_products_title",
            "label": "Product Title"
          },
          {
            "type": "range",
            "id": "new_arrival_stars_number",
            "label": "Product Star Level",
            "default": 5,
            "min": 0,
            "max": 5,
            "step": 0.1,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "new_arrival_products_price_sale",
            "label": "New Arrival Products Sale Price"
          },
          {
            "type": "text",
            "id": "new_arrival_products_price_virtual",
            "label": "New Arrival Products Virtual Price"
          },
          {
            "type": "url",
            "id": "new_arrival_products_url",
            "label":"New Arrival Products Url" 
          }
        ]
      }
    ]
  }
{% endschema %}